[2020-07-27 15:58] guimou opened #9 "S3 Browser"
Manipulating object storage data from a notebook is not intuitive and requires code for basic operations (upload, copy, delete,...). Several solutions can be implemented at Jupyter level:
- https://github.com/IBM/jupyterlab-s3-browser
- https://github.com/danielfrg/s3contents

An S3 browser could also be implemented at the ODH UI level.

That's open for discussion (other solutions, pros, cons, com

[2020-07-29 15:32] guimou commented on #9
@LaVLaS Hue is a solution, but tbh I'm not sure that from a UX perspective it's really practical. That would mean they would have to connect to Hue (so first an account must have been created for them), configure their S3 access with their own credentials, and then do their stuff. If they don't use Hue at all apart from that, it's kind of cumbersome imho. That's why an integrated solutions (whethe

[2020-08-07 11:27] vpavlin opened #10 "All links point to JuypterHub"
All "Launch <Component>" links point to JupyterHUb route

[2020-08-07 11:27] vpavlin opened #11 "Component logos are misaligned"
Some component logos are not centered properly

[2020-08-07 11:28] vpavlin opened #12 "How to build the image?"
Please provide a how-to for building the application image (so that we can setup automation for it in the future)

[2020-08-17 12:30] cfchase opened #14 "Revisit kustomize templates."
Should we use ` kustomize edit set namespace` or `vars` (https://kubernetes-sigs.github.io/kustomize/api-reference/kustomization/vars/) instead of this?

_Originally posted by @vpavlin in https://github.com/opendatahub-io/odh-dashboard/pull/13_

[2020-08-17 14:35] #10 closed

[2020-08-17 14:35] #12 closed

[2020-08-31 17:08] cfchase opened #17 "Add ability to process markdown/rdoc and display as documentation/tutorials"
We should restructure the dashboard to include internal documentation.  A user with no JS knowledge should be able to create a document that is parsed and adds documentation to a the navbar menu and a set of well formatted documentation.  That documentation, links specific to the ODH installation, and may also include code or notebooks.

![Screenshot from 2020-08-31 13-07-31](https://user-images.g

[2020-08-31 17:34] cfchase opened #18 "Explore allowing an administrator to enable/disable ODH components from UI"
With access to the `kfdef` file, we could allow authorized users to update the installed components of Open Data Hub.  This would require authentication through "Login with OpenShift" and verify they have access.  You could allow users to customize kfdef fields with a forms wizard.

Requirements:
- Allow users to Login with OpenShift
- Allow components to be correctly:
  - installed
  - updated

[2020-09-01 14:03] cfchase opened #19 "Replace Superset PNG with SVG"

[2020-09-02 22:11] guimou opened #20 "Simplify deployment"
If you remove the `namespace`entries from `install/odh/base/kustomization.yaml`and `install/odh/base/role_binding.yaml`, the overlay called `default` is not needed for a standard ODH deployment and you can directly add:
[code]
and
[code]
to the ODH instance YAML.
That's much easier imho than the `deploy.sh` script, plus it's the "standard" way to deploy an ODH component, which will make it easier

[2020-09-11 18:35] erikerlandson opened #21 "define available components via openshift labels on the routes"
I can't tell if you are already doing this from the code:  Was thinking it might be elegant to have the dash just look for available routes by a special odh label.  That would also make it easy to customize with additional routes for a customer, if desired.

I see you have a sort of javascript database of [attributes](https://github.com/opendatahub-io/odh-dashboard/blob/master/routes/api/component

[2020-09-14 20:16] cfchase commented on #20
@guimou the kustomize templates here in the project were meant to support a dev pipeline (e.g. if I wanted to deploy a customized image I built using the other build scripts) but will provide the basis for the operator deployment.  I expect I'll be adding those to templates similar to your suggestion to the odh-manifests project soon.

[2020-10-05 20:19] #11 closed

[2020-10-05 20:55] #19 closed

[2020-10-06 15:20] kshithijiyer opened #23 "Add GitHub ISSUE_TEMPLATE and PULL_REQUEST_TEMPLATE"

[2020-10-09 20:17] cfchase commented on #20
@guimou I got rid of those namespace entries in the templates and now you can use the ODH operator to deploy the dashboard just like you suggested.  I left the `dev` overlay there for the purposes of allowing developers to [deploy custom images](https://github.com/opendatahub-io/odh-dashboard#deploying-your-image), but you should still be able to deploy the normal image.  You can just set the path

[2020-10-13 14:14] #20 closed

[2020-10-15 15:42] cfchase commented on #21
I like this as it would allow other components and projects to define their own attributes outside of the code.  Unless there are objections by @vpavlin , @nakfour or others, I can work on this

[2020-10-15 21:58] #23 closed

[2020-10-19 13:13] cfchase commented on #14
Modified the base to be the same as the ones in odh-manifests.  The templating is just used for developer to change things out for his own image or namespace.  I haven't found a better way of using runtime environment vars yet.

[2020-10-19 13:13] #14 closed

[2020-11-03 06:34] durandom opened #26 "Ability to add components deployed in other namespaces"
**Is your feature request related to a problem? Please describe.**
the dashboard seems to be limited to the namespace where it's deployed.

**Describe the solution you'd like**
All components deployed by the operator should be included, independent of the namespace they're deployed to

https://github.com/operate-first/odh/issues/12
https://github.com/operate-first/odh/issues/13

[2020-11-05 11:59] cfchase commented on #26
I may be incorrect in the way I'm interpreting ODH installations, so I'll have to confer with @vpavlin and @nakfour.

In general, I think operators deploy instances and that instance would be the owner of and resources of their CRD would be related to that instance.  I don't know if the ODH operator establishes that relationship, but usually that relationship exists.

The dashboard currently assum

[2020-11-05 12:12] vpavlin commented on #26
IIUC this is what @durandom's team is trying to achieve - by using multiple KFDefs install various parts of ODH into multiple namespaces to separate the components from each other.

I think it might be problematic if we allow this "freely" - in case 2 users decide to deploy 2 instances of JupyterHub to the same cluster (which should work fine) - would both dashboard show both instances? That could

[2020-11-05 12:51] cfchase commented on #26
Perhaps this would be better off in a fork in the operate-first org, for now.

I haven't encountered kubernetes resources that have components that spans separate namespaces.  If what you're telling me is a goal, then perhaps it would be better for operate-first to have it's own map or custom resource that points to each of the sub-components  as owner.  Then the dashboard would query the operate-

[2020-11-05 13:48] durandom commented on #26
@vpavlin we had a lengthy discussion on single-namespace deploy vs multi-namespace deploy at https://github.com/operate-first/odh/issues/13 and in google chat (which I cannot link, unfortunately).

Almost everybody said, in a production grade environment you'd likely won't do a single-namespace deploy.

May I suggest to provide guidance via an ADR (https://github.com/opendatahub-io/odh-manifests/p

[2020-11-05 13:56] vpavlin commented on #26
I kind of like @cfchase's idea - at least as an interim solution - basically having a top-level CR (and probably a ismple operator to handle it) which would create and manage multiple KFDefs based on that...on the other hand it adds another layer of indirection and complexity...

Can we discuss this again at some ODH (community) meeting? I think it is valuable discussion - how do we want to approa

[2020-11-05 14:02] vpavlin commented on #26
IOW I think if we want to create a concept of multi-namespaced deployment for ODH which is represented by code and UI, we need to design it properly. Multiple KFDefs approach was more a workaround to unblock operate-first initiative. Hope that makes sense

[2020-11-05 14:11] tumido commented on #26
Can you please loop me in for that discussion @vpavlin ?

I don't think that's correct assumption @cfchase, you definitely can have a controller which is expected to touch different namespaces. This is a common design pattern, actually the ODH operator leverages this itself as the actual operator is deployed in one namespace and manages resources in another namespaces.

There are 2 things happenin

[2020-11-05 14:16] cfchase commented on #26
To clarify, multi-namespace vs single isn't really my issue.  My issue is treating 8 separate instances of a custom resource as a single entity seems bad.

[2020-11-05 14:23] tumido commented on #26
Btw, I've just checked how upstream is doing this in the central dashboard of kubeflow. Instead of looking up the `kfdef`'s the operator builds a configmap for each namespace ([this is the default state](https://github.com/kubeflow/kubeflow/blob/master/components/centraldashboard/config/centraldashboard-links-config.yaml) where the kubeflow is deployed. And this configmap is then consumed from the

[2020-11-05 14:31] cfchase commented on #26
I think that was similar to what I was suggesting with the Custom Resource, but using a config map.

[2020-11-05 14:46] HumairAK commented on #26
Isn't this precisely what the [notebook-controller](https://github.com/kubeflow/kubeflow/tree/master/components/notebook-controller#spec) does in kubeflow with the `notebook` resource? The prometheus operator also does the same thing with `service-monitors`

Anyways besides concerns with the dashboard, there are other issues with using multi-namespace installations odh that we're currently encount

[2020-11-05 14:53] cfchase commented on #26
The notebook controller looks like it establishes a relationship in that spec... right there.  There's no relationship between these kfdef resources right now.

I think that's my point, the dashboard is just trying to follow what the operator does, and currently it installs all components in a single namespace per instance.  If you change that to relate separate resources in separate namespaces, t

[2020-11-05 14:57] HumairAK commented on #26
Ah all right that makes more sense, this is basically I think what argocd does with `AppProject` and `Application` custom resources, where `Applications` _belong_ to an `AppProject` custom resource.

[2020-11-05 15:10] cfchase commented on #26
Having odh-configuration resource that lists namespaces, routes, components, etc would be really useful for https://github.com/opendatahub-io/odh-dashboard/issues/21. I was considering adding my own configmap, but was thinking it would be better to be created by odh itself so it would be a single source of truth for the odh instance and the dashboard.

Having a kfdef per component is interesting a

[2020-11-24 11:58] tumido commented on #26
Based on our proposal in https://github.com/opendatahub-io/odh-manifests/issues/236 we'd like to support multiple namespaces via namespace parameter in the `kfdef`. Translated: ODH upstream would like to keep a single `kfdef` resource, while allowing the operator to deploy into mutliple namespace. So the logic for `odh-dashboard` would change a bit:

There's still expected to be a single `kfdef` r

[2020-12-24 07:29] kshithijiyer opened #35 "Rename master branch to main branch"

[2021-01-21 15:34] tumido opened #36 "Change Thriftserver icon to differentiate from Spark"
Context: https://github.com/opendatahub-io/odh-dashboard/pull/32#discussion_r560609796

[2021-03-18 15:29] tumido opened #41 "Disappeared commits"
**Describe the bug**
PRs https://github.com/opendatahub-io/odh-dashboard/pull/39 and https://github.com/opendatahub-io/odh-dashboard/pull/38 were merged into master but they are missing. It messed up my fork repo... Where did those commits go?

**Expected behavior**
Commits should not disappear

/cc @cfchase @jeff-phillips-18

[2021-03-18 16:20] #41 closed

[2021-04-06 11:20] durandom opened #43 "converge red-hat-data-services fork"
Most of the active development seems to be happening in https://github.com/red-hat-data-services/odh-dashboard which is as of now 39 commits ahead of this upstream version.
The red-hat-data-services fork can expose additional content like tutorials via the [data](https://github.com/red-hat-data-services/odh-dashboard/tree/63e63ef511e50188da45288c2aa109e9f83d7b02/data) directory.
This is useful for

[2021-06-14 14:24] DaoDaoNoCode opened #60 "Refactor frontend Redux Implementation"
**Is your feature request related to a problem? Please describe.**
Instead of using `createStore`, `combineReducers` and apply `redux-thunk` middleware manually, I think it would be helpful to import `@reduxjs/toolkit`. It contains `configureStore` function which will do all the things above and it contains other functions like `createAsyncThunk` to help better create async redux functions. Maybe

[2022-03-01 14:33] dlabaj opened #118 "Add ability to have Cluster Settings for ODH Administrators"
An ODH administrator would like to have the ability to have cluster settings where they can set, enable, and disable specific features.  These features include things such as PVC, set idle times for their netbooks, etc.  See the mockup below:

https://marvelapp.com/prototype/8jb2bb8/screen/85378714

In order to support these features, we need to add the ability to show the Cluster Settings section

[2022-03-01 14:38] dlabaj opened #119 "Add ability to set the PVC size in cluster settings."
An ODH administrator would like to have the ability to set the PVC size in cluster settings. See the mockup below:

https://marvelapp.com/prototype/8jb2bb8/screen/85378714

Details surrounding the implementation of this issue include:

- The default PVC size should be 20GB.
- Min PVC size: 1 GiB
- Max PVC size: 16384 BiB
- No decimals values allowed.
- The config map to edit in the ODH namespace i

[2022-03-01 14:43] dlabaj opened #120 "Add the ability cull notebooks in Cluster Settings."
An ODH administrator would like to have the ability to cull their own notebooks in cluster settings. See the mockup below:

https://marvelapp.com/prototype/8jb2bb8/screen/85378714

Details surrounding the implementation of this issue include:

- Notebooks that are not culled will remain up forever.
- Value is stored in seconds.

[2022-03-03 13:52] dlabaj opened #121 "BYON - Add ability to import custom notebook images."
As a user of ODH I would like to have the ability to important my own custom image as shown in the mockups below.  This issue covers the importing of a notebook displaying it in the table.

https://marvelapp.com/prototype/6dcfc3h/screen/85139857

[2022-03-03 13:54] dlabaj opened #122 "BYON - Add the ability to edit custom notebook image package details."
As a user of ODH I would like to have the ability to modify the package description for my own custom image as shown in the mockups below.

https://marvelapp.com/prototype/6dcfc3h/screen/85139857

[2022-03-03 13:55] dlabaj opened #123 "BYON - List, Filter / Search custom notebook images."
As a user of ODH I would like the ability to search / filter  the list of  notebook images displayed in the custom notebook image table.

https://marvelapp.com/prototype/6dcfc3h/screen/85139863

[2022-03-03 15:20] dlabaj opened #124 "Update Nodejs backend to support Post, Put, and Delete."
Currently we do not support POST, PUT, and DELETE from the UI on the NodeJS backend.  This is due to security settings found here:

https://github.com/opendatahub-io/odh-dashboard/blob/0d98f10cb37a386f3dad84e57e899680d794f724/backend/src/utils/responseUtils.ts#L3

We need to update the CORs headers so we can successfully support the REST commands above.  Once this is done we should update our curr

[2022-03-09 13:41] tumido commented on #124
@dlabaj question: `addCORSHeader` seems to be used only in dev mode. There's no route that would use it in prod Is this intended?

[code]

If `addCORSHeader` is buggy and we use it in dev mode only, why keep it? Why don't we get rid of it?

[2022-03-09 13:44] tumido commented on #124
Also https://github.com/opendatahub-io/odh-dashboard/pull/127 seems quite related

[2022-03-09 13:44] tumido commented on #124
cc @cfchase

[2022-03-09 13:52] cfchase commented on #124
@dlabaj If you're ok with the approach I took, I had to use this to work on the Projects UI prototype.  I'd also like to use it to update https://github.com/opendatahub-io/odh-dashboard/pull/97 since we could use a proper patch [here](https://github.com/opendatahub-io/odh-dashboard/blob/master/backend/src/routes/api/components/index.ts#L24) during the merge refactoring

[2022-03-09 14:59] LaVLaS opened #129 "BYON - Add support for reading custom notebook validation pipeline status"
As the custom notebook is progressing through the validation pipeline, we need to be able to get the current status of the pipeline status during each step until validation has completed (un)successfully.

Reference: https://github.com/open-services-group/byon/issues/18

[2022-03-09 20:04] #124 closed

[2022-03-15 20:31] dlabaj opened #139 "Add Backend REST API unit testing"
Currently we do not have Unit tests to test our backend API.  Using Fastify HTTP injection and jest we would like to add unit tests to verify our REST API.  Unit testing should test all the routes that we have in our REST API.   The following article details how to setup Fastify and Jest for REST API testing: https://jaywolfe.dev/blog/setup-a-fastify-app-with-jest-tests-the-right-way/

[2022-03-16 12:56] dlabaj opened #140 "[BYON] Design REST API for BYON"
Design the rest API for BYON.  This is needed to get agreement on what should be implemented between the backend and frontend.

[2022-03-16 12:58] dlabaj opened #141 "Update frontend unit testing to use React Testing Library"
Frontend unit testing should be updated to use react testing library instead of enzyme.

[2022-03-16 15:06] dlabaj opened #142 "[BYON] Implement GET /notebook REST endpoint."
Implement the /notebook input for GET  to retrieve the list of custom note book images.  This should return a list of custom note book images according to the REST API specification.

[2022-03-16 15:08] dlabaj opened #143 "[BYON] Implement POST /notebook endpoint"
Implement the /notebook input for POST  to import a custom note book image.  This should import the specified notebook image according to the REST API specification.

[2022-03-22 13:23] dlabaj opened #148 "[KFNBC] UI - Add KFNB controller support to dashboard"
We need to be able to support KFNB controller by displaying a tile to the user and allowing them to do the following:

Requirements:

- [x] Add notebooks panel / tile to the ODH dashboard (only visible if notebooks CRD exists).
- [x] Create route to KFNB page.
- [x] Create initial page with UI from protoype / spawner
- [x] Create a [notebook object](https://github.com/samuelvl/odh-manifests/blob/2

[2022-03-22 14:34] dlabaj opened #149 "[KFNBC] Integrate starting and stopping notebooks"
Integrate KFNBC with project view being done in the prototype branch.  This will provide the ability to start and stop notebooks.

[2022-03-22 14:35] jkoehler-redhat commented on #121
@dlabaj should this be assigned to you?

[2022-03-22 14:37] dlabaj opened #150 "[KFNBC] Integrate listing the images in project view."
Integrate listing KFNBC images in the project view being done in the prototype branch.

[2022-03-22 18:57] dlabaj opened #151 "Implement DELETE notebook image."
Implement the /notebook/{notebookId} input for DELETE  to delete a custom note book images.

[2022-03-22 18:58] dlabaj opened #152 "Implement PUT notebook image"
Implement the /notebook input for PUT  to modify a custom note book images.

[2022-03-22 18:59] dlabaj opened #153 "Implement GET single notebook image"
Implement the /notebook/{notebookId} input for GET  to retrieve the list of a single custom note book image.

[2022-03-24 16:30] dlabaj opened #157 "[KFNBC] Provide suitable error message for with inability of NB server to start"
The system must provide suitable error messages related to the inability to start NB server sessions and enable the user to recover and try again immediately

Mockup for this issue can be found here:

https://marvelapp.com/prototype/28dc5af6/screen/78116147

- [ ] Add UI to display the error to the user.
- [ ] Add UI backend code to get the status and the error.
- [ ] Integrate with KFNB controlle

[2022-03-25 14:20] dlabaj opened #158 "[KFNBC] Backend / controller integration support for GPU"
Integrate the UI backend and the controller to  KFNBC GPU.

- [ ] Controller code is ready and available.
- [ ] UI Backend code has been added to talk to the controller.

[2022-03-25 14:24] dlabaj opened #159 "[KFNBC] Add backend / controller integration support for size"
Integrate the backend and controller for KFNBC image sizes.

- [ ] Controller code is ready and available.
- [ ] UI Backend code has been added to talk to the controller.

[2022-03-31 11:34] tumido commented on #151
Solved via https://github.com/opendatahub-io/odh-dashboard/pull/156, please close.

[2022-03-31 11:34] tumido commented on #152
Solved via https://github.com/opendatahub-io/odh-dashboard/pull/156, please close.

[2022-03-31 11:34] tumido commented on #153
Solved via https://github.com/opendatahub-io/odh-dashboard/pull/156, please close.

[2022-03-31 11:34] tumido commented on #143
Solved via https://github.com/opendatahub-io/odh-dashboard/pull/156, please close.

[2022-03-31 11:34] tumido commented on #142
Solved via https://github.com/opendatahub-io/odh-dashboard/pull/156, please close.

[2022-03-31 11:38] tumido opened #164 "[BYON] API authentication"
ODH Dashboard part responsible for BYON should be available to authenticated users only. This seems to be supported for frontend, though we need to ensure the backend REST API endpoints are available to authenticated users only as well. Since the API is open to the internet, anybody can initiate an import potentially adding malicious or phishing (same name as other already available images) images

[2022-04-06 13:14] tumido commented on #164
This should address

https://github.com/opendatahub-io/odh-dashboard/blob/46cb6852ea4740d6176372f86297ba08208f2490/backend/src/routes/api/notebook/notebooksUtils.ts#L130

https://github.com/opendatahub-io/odh-dashboard/blob/46cb6852ea4740d6176372f86297ba08208f2490/backend/src/types.ts#L249

[2022-04-07 21:07] LaVLaS opened #175 "[BYON] Add support for notebook image inspection or validation when Pipelines are not installed"
**Is your feature request related to a problem? Please describe.**
The BYON UI should gracefully handle environments where Pipelines are not installed.

**Possible Solution**
If the cluster does not have Pipelines, the UI should:
- Disable/Hide the 'Status' column since verification can not be performed
--OR--
- Fallback to a k8s native object (Job?) that can perform minimal verification/introspec

[2022-04-11 20:17] LaVLaS opened #179 "[KFNBC] User name check against dedicated-admins membership does not match against Google auth user with username@domain.com"
**Describe the bug**
When logging into the cluster via Google Authentication, the user is created with `<ORG USERNAME>@<Google Apps Org Domain>` as their ocp username.  When the full username is added to the `dedicated-admins` groups the Dashboard won't enable settings due to it finding the user use `<ORG USERNAME>` without the domain

I am not sure if this is restricted to Google as the Identity

[2022-04-12 12:54] tumido commented on #175
So.. this is not trivial to implement in either case. If pipelines are not available we have a bigger issue - JupyterHub with byon overlay will fail to deploy, since there's no `Pipeline` and `Task` kind on the server. This will cause errors on the operator side.

When it comes to Dashboard (frontend/API), what should be the resulting functionality? Importing things anyway? If so, we need to imple

[2022-04-12 13:20] tumido opened #180 "[BYON] Enable toggle broken when clicked repeatedly"
**Describe the bug**
On first click on the enable toggle, proper payload is sent out. Any consecutive click doesn't behave properly and doesn't toggle

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Go to Settings -> Notebook Images
2. Have enabled image
3. Click on Enable to disable image
4. See image disabled
5. Click on Enable again to enable image back
3. See image stay disabled
6.

[2022-04-12 13:25] tumido opened #181 "[BYON] Enable toggle is enabled on images being imported/validated"
**Describe the bug**
Enable toggle should be clickable only if the phase is Succeeded, in any other phase it should be disabled.

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Settings -> Notebook Images
2. Import new image
3. Observe phase `Importing`
4. See that enable toggle is clickable
5. Wait for phase to turn into `Validating`
6. See that enable toggle is still clickable

**Exp

[2022-04-12 13:37] LaVLaS commented on #175
I don't think there needs to be feature parity between BYON with Pipelines and BYON without pipelines. We will have to support a basic minimal BYON feature set in an environment where Pipelines do not exist.  The strongly recommended path will always be BYON w/ Pipelines but there should be a minimal BYON where the user can use the UI to import an image with minmal validation.

The current feature

[2022-04-12 14:29] tumido commented on #175
I wonder, doesn't ODH already have a mechanism to add images via a comfigmap or something? Or am I confusing this with something else? If it really does support that, we can leverage it to basically just add entry to that configmap. Or create an imagestream directly.. we would need some further scoping and UI mocks around that, because UI should definitely warn the user before allowing to import i

[2022-04-13 09:09] tumido commented on #175
What about the fallback be:

https://github.com/opendatahub-io/odh-manifests/tree/master/openshift-pipelines#openshift-pipelines

[2022-04-20 16:25] LaVLaS opened #186 "Add CI test to require that every input and clickable element has a unique id attribute"
**Is your feature request related to a problem? Please describe.**
To support automated testing of the Dashboard UI, there should be a test to required that every input and clickable element has an `id` attribute to ensure that it is easy to find using xpath.

**Describe the solution you'd like**
This `id` attribute name or header should be "static" and unique so that the name does not change each

[2022-04-26 12:41] #152 closed

[2022-04-26 12:42] #140 closed

[2022-04-26 12:53] #118 closed

[2022-04-26 12:54] #119 closed

[2022-04-26 13:22] #120 closed

[2022-04-26 13:53] dlabaj commented on #153
fixed

[2022-04-26 13:53] #153 closed

[2022-04-26 13:53] dlabaj commented on #142
fixed.

[2022-04-26 13:53] #142 closed

[2022-04-26 13:54] dlabaj commented on #123
fixed.

[2022-04-26 13:54] #123 closed

[2022-04-26 13:54] dlabaj commented on #121
Implement

[2022-04-26 13:54] #121 closed

[2022-04-26 13:54] dlabaj commented on #151
fixed.

[2022-04-26 13:54] #151 closed

[2022-04-26 14:28] dlabaj opened #189 "Backport BYON Image stream from Red Hat DataService to ODH."
Back port image stream BYON features from https://github.com/red-hat-data-services/odh-dashboard to https://github.com/opendatahub-io/odh-dashboard/ .

While doing this make sure image stream version of BYON is available along with the pipelines version.

[2022-04-26 14:37] dlabaj opened #190 "Add ability for ISV Data to be installed via operator."
Currently the ISV data (application definitions, getting started markdown, quickstarts, and documentation resources) exist in yaml files that are checked into the odh-dashboard repo and installed/read locally on the odh-dashboard pod. 

These yaml files should be installed separately by the operator so that they can be easily updated and new ISVs can be added without rereleasing and deploying the

[2022-04-26 15:34] LaVLaS opened #191 "Add support for dynamically loading the branding assests for ODH"
**Is your feature request related to a problem? Please describe.**
In order to support the use of ODH in the downstream component, we should support the dynamic loading of branding assets for the dashboard.

**Describe the solution you'd like**
Ideally this would be supported at build time to allow us to easily override assets for ODH branding vs downstream

**Describe alternatives you've consider

[2022-04-26 16:03] LaVLaS opened #192 "Enable ODH Dashboard Admin & User groups"
**Is your feature request related to a problem? Please describe.**
In order to support administrative features in the dashboard, we should enable support for authenticated admin and users groups for the Dashboard

**Describe the solution you'd like**
Enable default admin & user groups for the dashboard

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-04-26 16:10] LaVLaS opened #193 "Add feature flag for enabling telemetry in the Dashboard"
**Is your feature request related to a problem? Please describe.**
Telemetry is enabled downstream but should be disabled by default for ODH Dashboard deployments

**Describe the solution you'd like**
Add a feature flag to enabled/disable telemetry

**Describe alternatives you've considered**
Add an optional build flag that can be toggled to include it in the image

**Additional context**
N/A

[2022-04-26 16:21] LaVLaS opened #194 "Use feature flags as to enabled/disabled features in the UI"
**Is your feature request related to a problem? Please describe.**
For any features that are not default or core features of the Dashboard, we should support a feature flag to toggle them on/off when the dashboard is run

**Describe the solution you'd like**
Add feature flags for OPTIONAL features of the dashboard

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2022-04-26 16:27] LaVLaS opened #195 "Update README and CONTRIBUTING docs"
The README and CONTRIBUTING docs need to be updated for the current build process and features available in the upcoming release

[2022-04-27 15:03] jkoehler-redhat opened #214 "Integration of KFNBC UI into backend KFNBC"
- [x] KFNBC (Samu) is work in progress and can be used
- [x] Install KFNBC KfDef if Maro’s cluster (Samu will work with Maros on this).
- [x] Create new feature flags
- [x] Include backend APIs
- [x] Create route to new spawner and hide it

[2022-05-10 14:12] jkoehler-redhat opened #212 "CNBI Phase 2"
Problem statement
Goals
Enable RHODS users to easily get started with the packages/libraries/components they need for their data science projects.
Enable RHODS users to be confident that their notebooks will work given dependencies across specific versions for needed packages/libraries/components.
Problem
RHODS provides several out-of-the-box notebook images that automatically include packages to

[2022-05-10 14:15] jkoehler-redhat opened #213 "[KFNBC] Requirements"
Replace JupyterHub (JH) with Kubeflow notebook controller (KFNC). The aim is to have feature parity with existing JH functionality while utilizing the KFNC backend capabilities.  Mockups for UX/UI here: https://marvelapp.com/prototype/90ii3fd/screen/85876386

## Requirement 01 (Done)
The system must provide an access point to create NB server sessions (“spawner” page).

### Pull Requests
- https:/

[2022-05-11 15:33] dlabaj opened #218 "Upgrade fastify to the latest version"
We are currently running an older version of fastify.  We should upgrade to the latest version.

[2022-05-13 15:47] DaoDaoNoCode opened #219 "[DS Project UI] - Add different data sources"
The current supported data source is only PV and Object Storage, we should also add the following as the data sources (or maybe data resources):
- [ ] Starburst (P1)
- [ ] RHODA connectors (P2)
- [ ] Nooba / multi-cloud gateway (P2)

[2022-05-13 17:09] DaoDaoNoCode opened #220 "[DS Project UI] - Use context to pass props"
~~Currently, we are using some hook functions to watch the resources on the cluster and use that hook function anywhere we need. This causes a lot of fetching and instability for the UI because of these network requests.~~

~~An ideal solution would be to use React-Redux, which environment is already set up in the codebase. We should just keep fetching all the data at one place and save them in th

[2022-05-17 07:38] lucferbux commented on #220
Seems a reasonable solution, my only concern is why we would need to use React-Redux rather than using a global Context and a hook to retrieve the data in the page we need it. We accomplish the same and we don't need to use any 3rd party solution. What are your thoughts?

[2022-05-17 11:56] DaoDaoNoCode commented on #220
Yeah, I think context also makes sense here. I remember discussing this problem with Chris but I cannot remember the details 🥲. Hi, @cfchase do you remember why we want to use Redux instead of context here?

[2022-05-17 12:37] cfchase commented on #220
Both of those solutions are fine, I just don't want to have 2 styles of managing global state in the dashboard.  The dashboard currently already has Redux, but I have no problem with switching if we remove Redux.  The current Redux configuration is a bit messy and if we want to continue to use Redux, we can follow https://redux.js.org/usage/usage-with-typescript and use the redux toolkit to clean

[2022-05-17 13:50] dlabaj opened #221 "Localization Support"
Currently RHODS does not support localization.  We should add localization to both the front end and back end rest responses.

Tasks:
- [ ] Add front end localization
- [ ] Add backend localization
- [ ] Investigate what languages ODH would like to support

[2022-05-17 16:38] dlabaj opened #223 "Add front end localization"
Add localization to react-18next to the frontend code.

[2022-05-17 16:48] dlabaj opened #224 "Dashboard ODH / RHODS Consolidation"
The dashboard code in ODH is out of sync with the code in red-hat-data-services.  The code from red-hat-data-services should be backport to a new branch called main on opendatahub-io.  When doing this we should allow features to be enabled / disabled using a config map called odh-dashboard-config.

Tasks:

- [x] #195
- [x] #189
- [x] #43
- [x] #191
- [x] #193
- [x] #194
- [x] #191
- [x] #35
- [x]

[2022-05-17 17:04] dlabaj opened #225 "ODH Dashboard Testing Updates"
This issue is used to track the updates that we are adding for testing to ODH Dashboard for the 1.3.0 release.

Tasks:

- [x] #141
- [x] #139
- [ ] All PRs signed off / approved and merged

[2022-05-17 17:22] dlabaj opened #226 "Add backend localization for errors that can be localized."

[2022-05-18 14:32] dlabaj opened #227 "Remaining CNBi Phase 1 work"
The following are the remaining tasks for CNBi Phase 1 Pipelines

Tasks:

- [ ] #129
- [ ] #175
- [ ] Merged CNBi Phase 1 to main branch currently being delivered as part of Dashboard 2 work.
- [ ] Add feature flag to turn on Pipelines version of CNBi.  This will disable CNBi imagestream version if this flag is enabled.

[2022-05-19 17:52] DaoDaoNoCode commented on #220
@lucferbux Yeah I am OK with that, you could set up the meeting so we can discuss more.

[2022-05-20 01:07] lucferbux commented on #220
Perfect, I'll send an invite on Monday, thanks @DaoDaoNoCode

[2022-05-24 14:53] lucferbux commented on #220
From my point of view, we should keep the reducers and actions just to make the state immutable, as it's a great pattern, but we can refactor our code with little effort if we want.

[2022-05-24 18:54] DaoDaoNoCode opened #230 "[DS Project UI] - Add feature flag to set the visibility of data science projects page"
Like other feature flags in the ODH configs, we should also add a feature flag to decide whether to show the data science projects page or not.

[2022-05-24 19:03] DaoDaoNoCode opened #231 "[DS Project UI] - Validate the input of all the forms"
Currently, there is no validation for the UI. However, there are many forms like creating a new project, creating a new notebook, adding a data source or storage, etc... We need to add validation to all the forms to avoid the user entering something invalid.
There are 2 kinds of validations:
1. Check all the input fields using regex and show the error hint message under the text input like the exa

[2022-05-24 19:09] DaoDaoNoCode opened #232 "[DS Project UI] - Add editing projects/workspaces/data sources/storage feature"
Currently, we can only create these resources. But if the user opens the kebab toggle dropdown of these existing resources, they should be able to edit them. Not sure whether the editing modal would be the same as the creating modal or if we should get rid of some fields that cannot be edited. This is something that needs to be further discussed with the designers.

[2022-05-24 19:11] DaoDaoNoCode opened #233 "[DS Project UI] - Add the ability to duplicate the data science workspaces"
When the user chooses the duplicate option in the dropdown menu of a data science workspace, he should be able to create a copy of that workspace.

[2022-05-24 19:16] DaoDaoNoCode opened #234 "[DS Project UI] - Users and data projects permissions"
Currently, the users can only see the projects created by themselves. However, they should be able to set the view and edit permissions to all the users on the cluster. If the user goes to the projects details page and clicks on the permissions tab, he should be able to give permission to other users, and other users should be able to see all the projects in the projects table based on their permi

[2022-05-25 20:04] DaoDaoNoCode commented on #220
@lucferbux I made some changes to the title and description of this issue and add the story tag and tasks to it. Simply convert any task to issue when you are ready to start! 😁

[2022-05-26 09:33] lucferbux commented on #220
🎉🎉🎉

[2022-05-30 08:53] maroroman opened #237 "(Dashboard Backend) User authorization checks"
There should be checks of user RBACs added to the dashboard so that actions made by the users are properly verified against their permissions on the openshift cluster based on the username in the dashboard status call.

I propose using https://github.com/fastify/middie to add middleware for each call requiring it, that would contain a check which would go through the user roles and check whether t

[2022-05-30 08:59] maroroman commented on #237
@DaoDaoNoCode @dlabaj @cfchase @lucferbux What do you think?

[2022-05-30 10:07] lucferbux commented on #237
I think that's a great solution! Having some util method running as middleware in selected paths is a common pattern, easy to read and follow, I would give a +1

[2022-05-30 11:13] lucferbux commented on #225
Just out of curiosity, we are expecting to update our github actions flow just to trigger CI for these new tests? @dlabaj @DaoDaoNoCode

[2022-06-08 18:07] DaoDaoNoCode commented on #220
@lucferbux I find I need to use context first for KFNBC work so I will create a context named `AppContext` to pass some props like `isNavOpen` from App.tsx to other files. If you haven't started this context work you could wait until my KFNBC PR is submitted and merged so you can work on top of it.

[2022-06-14 15:31] lucferbux opened #250 "Improve Issue Templates"
**Describe the solution you'd like**
We want to use Github Issues as a tracker for new requests. We want to improve the template we are currently using to fit our new requirements.

[2022-06-16 07:25] maroroman commented on #237
After talking with @cfchase , I will try to implement this using bearer tokens passed by the proxy and take all calls through kubernetes which should complain if a user doesn't have the correct permissions.

[2022-06-16 07:27] maroroman opened #252 "(Dashboard Backend) Merge BYON Image logic and Spawner Image logic"
The spawner UI expects different returned info on imagestreams than BYON. I will try to implement Image logic from the old spawner into the new spawner and make it work along with the current image logic used for BYON so that we keep compatibility with both with minimal changes.

[2022-06-21 14:55] samuelvl commented on #148
@maroroman @DaoDaoNoCode @dlabaj I have added a new item "Add admin section from jupyterhub spawner".

[2022-06-23 13:56] #141 closed

[2022-06-24 11:57] maroroman opened #255 "(Dashboard backend) Add secret reading and modifying to API"
The notebook spawner UI needs, in addition to environment variables also secrets to keep sensitive data. Secrets related to user's notebook are stored in the notebookControllerState field of the Dashboard config.

The backend can read and decode that value and send it to the frontend, alternatively it could be send undecoded and can be decoded in frontend.

[2022-06-29 02:17] LaVLaS opened #257 "Variables in frontend/.env are not being used for the page title and dashboard logo"
**Describe the bug**
The `ODH_LOGO` and `ODH_PRODUCT_NAME` variables defined in `frontend/.env` are not being used for the webpage title and logo graphic

**Steps To Reproduce**
Steps to reproduce the behavior:
1. Modify `frontend/.env` to use custom values for `ODH_LOGO` and `ODH_PRODUCT_NAME`
[code]
2. Build a dashboard image and deploy it on OCP
3. Navigate to the Dashboard route and confirm th

[2022-06-29 03:08] LaVLaS commented on #257
It looks like there are multiple references to `${ODH_PRODUCT_NAME} OpenShift Data Science` in files under [frontend/src/pages](https://github.com/opendatahub-io/odh-dashboard/tree/main/frontend/src/pages)

[2022-06-29 19:12] andrewballantyne opened #259 "Create Pass-Thru Kube API & Bring in SDK Utilities"
**Is your feature request related to a problem? Please describe.**
We currently use a custom node backend to process kube objects and talk to a kube backend. This makes our API unique and tethered to our deployment.

**Describe the solution you'd like**
We want to drop the logic part of our backend; moving it to the frontend. Then we will be able to make use of a generic set of kube API utilities

[2022-06-29 19:12] andrewballantyne commented on #259
/assign

[2022-07-01 07:13] #252 closed

[2022-07-01 12:20] lucferbux commented on #250
@DaoDaoNoCode @dlabaj @maroroman @samuelvl
This is the new yaml format for the requests, I've created a [mock project here](https://github.com/lucferbux/issue_template_mock/issues/new/choose) just to check how it works.
These are the new templates, let me know what you think:

**Bug report**

[code]

**feature request**
[code]

[2022-07-01 12:47] maroroman opened #263 "Add documentation for Notebook and image API endpoints"
The API endpoints for Imagestreams, BYON images and Notebooks are not documented or incorrectly documented in the docs folder, this needs to be amended.

[2022-07-04 12:47] #159 closed

[2022-07-04 12:56] samuelvl commented on #214
Fixed by https://github.com/opendatahub-io/odh-dashboard/pull/245

[2022-07-04 12:57] #214 closed

[2022-07-05 13:07] #191 closed

[2022-07-06 22:27] #158 closed

[2022-07-07 12:52] LaVLaS opened #268 "Define the release cadence for dashboard and feature releases"
**Is your feature request related to a problem? Please describe.**
To support regular releases of dashboard and associated features, it would be good to define the release cadence so that developers can ensure that PRs and features are merged intelligently so that each release is feature complete

**Describe the solution you'd like**
A release process that  allows for constant releases that allow

[2022-07-07 15:46] #250 closed

[2022-07-08 17:23] dlabaj opened #273 "[KFNBC] Add admin section from jupyterhub spawner"
Admins must be able to access the same functionality currently available via JH admin console (eg. view NB server sessions, stop sessions, etc.).

[2022-07-11 08:47] maroroman opened #274 "[Bug]: GPUs not detected by spawner"
### Feature description

Currently we are having to access secrets, SA's and services in the openshift-monitoring namespace. Instead we can assign a token to the dashboard SA and use it to query the number of allocatable GPUs.

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-11 19:18] LaVLaS opened #276 "[Bug]: HTTPError AlreadyExists after missing ODHDashboardConfig is created by odh-dashboard pod"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When deploying odh-dashboard into a namespace that does not have an existing `ODHDashboardConfig` the logs show an `HTTPError` exception with `Reason: Already Exists`.

### Expected Behavior

Missing ODHDashboardConfig is created and any parallel pods check to see if one already exists before

[2022-07-11 19:36] LaVLaS opened #278 "[Bug]: Admin UI Idle Culler settings is enabled to 0 min when culler_timeout does not exist in the jupyterhub-cfg configMap"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When `culler_timeout` does not exist in the jupyterhub-cfg ConfigMap, the `Stop idle notebooks` setting of `Cluster Settings` sets `Stop idle notebooks after` after 0 minutes.  This has no affect since the idle culler pod is not running

### Expected Behavior

The Cluster Settings should show

[2022-07-11 20:32] DaoDaoNoCode opened #280 "[KFNBC]: UI - Create frontend unit testing cases for notebook controller pages"
### Feature description

Since the KFNBC UI is already implemented, We will need to create frontend unit testing cases for it.

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-11 21:11] DaoDaoNoCode opened #281 "[KFNBC]: UI - Create error notification for every failing API call"
### Feature description

For KFNBC UI, it's now mostly using `console.error` to show error messages when the API call fails. We hope to see a more detailed error message in the notification drawer if something went wrong.

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-11 21:15] DaoDaoNoCode opened #282 "[KFNBC]: UI - Use environment variables of the notebooks in a different way"
### Feature description

When we create the environment variable files (secrets, configmaps), we don't need to refer to them in the NotebookControllerState, instead, we should set them as the env reference in the container of the notebook when we create them.
here is an example:
[code]

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-11 21:18] DaoDaoNoCode opened #283 "[KFNBC]: UI - Update NOTEBOOK_ARGS to expose the kernels to be compatible with the culling scraping endpoint"
### Feature description

Example: https://github.com/opendatahub-io/odh-manifests/blob/7df1e6bca3f191aa1e55fb00aabb8749ebd446ab/tests/resources/notebook-controller/notebooks/thoth-generic-oauth-notebook.yaml#L16-L22 (Requirement for culling support)

### Describe alternatives you've considered

_No response_

### Anything else?
Screenshot of the Cluster Settings with missing `culler_timeout` ![ps_

[2022-07-12 08:28] maroroman commented on #283
@DaoDaoNoCode Should this be done automatically on spawning every notebook?

[2022-07-12 11:51] DaoDaoNoCode commented on #283
I am not sure, do you have any idea? @samuelvl

[2022-07-12 12:22] samuelvl commented on #283
All the notebooks must be exposed in that path, regardless the culling feature is enabled or not. Solution is updating the NOTEBOOK_ARGS variable with the following value:

[code]

And update the probes to use this new path:

[code]

Finally, the UI will redirect the "Start server" button to this path.

[2022-07-12 12:39] DaoDaoNoCode commented on #283
@samuelvl That makes sense, I will add this field every time when creating the notebook.

[2022-07-12 13:09] LaVLaS opened #285 "[Feature Request]: Telemetry user tracking feature should default to Disabled"
### Feature description

By default we should set `disableTracking: true` so that standard build of odh-dashboard do not appear to have it enabled even when the `woopra` and `segement.io` are not enabled or configured.  Since this is an opt-in feature by Admins then the enabling that feature should be opt-in.  These error logs appear to be

[code]

### Describe alternatives you've considered

_No

[2022-07-12 13:59] LaVLaS opened #286 "[Repo Setup]: Enable CI to build and push the latest dashboard image"
### Feature description

To allow users to deploy the latest version of odh-dashboard as part of a rolling ODH release, we need to automate the build of the dashboard image when `main` is updated.  I recommend we use OpenShift-CI as the ODH standard method since @samuelvl has already set it up for ODH default notebook image builds

- [ ] Add OWNERS file
- [ ] Enable OpenShift-CI to build and push

[2022-07-12 14:14] samuelvl commented on #286
The repository https://github.com/opendatahub-io/odh-dashboard will be added to this folder https://github.com/openshift/release/tree/master/ci-operator/config/opendatahub-io

The images can be promoted to Quay using the `opendatahub-io-ci-image-mirror` workflow. Example at https://github.com/openshift/release/blob/master/ci-operator/config/opendatahub-io/kubeflow/opendatahub-io-kubeflow-master.ya

[2022-07-13 09:06] samuelvl commented on #283
@DaoDaoNoCode Can you share the notebook object?

[code]

[2022-07-13 10:04] maroroman opened #289 "[Code Quality]: Remove lint warnings in npm code"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Current implementation causes some warnings during tests. This should be corrected.

### Expected Behavior

No warnings in tests.

### Steps To Reproduce

_No response_

### Workaround (if any)

_No response_

### OpenShift Version

_No response_

### Openshift Version

_No response_

### Wha

[2022-07-13 11:07] maroroman opened #290 "[KFNBC]: Backend will create RBAC rule to enable authorization for normal users for KFNBC"
### Bug description

As per known issues in: #267

- Backend will create the following RBAC rule to enable authorization for normal users:
[code]

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-13 15:59] DaoDaoNoCode commented on #290
cc @samuelvl

[2022-07-13 16:39] samuelvl commented on #283
The image `image-registry.openshift-image-registry.svc:5000/opendatahub/s2i-minimal-notebook:v0.0.15` is [one year old](https://quay.io/repository/thoth-station/s2i-minimal-notebook?tab=tags) and it uses the deprecated `NotebookApp` instead of `ServerApp`.

Try with the following:

[code]

I have opened this PR to update minimal notebook tag to be compatible with `--ServerApp` https://github.com/o

[2022-07-13 17:52] DaoDaoNoCode commented on #283
@samuelvl I tried `NotebookApp` but it still gives me a 404 error when opening the notebook, while I cannot find any error event in the pod.

[2022-07-14 07:28] samuelvl commented on #283
@DaoDaoNoCode Can you try with the `--ServerApp` flag and the image `s2i-generic-data-science-notebook:v0.0.5`? Minimal should work when updated to `v0.3.0`

[2022-07-14 12:43] guimou opened #293 "[KFNBC]: Add an information panel when stopping a notebook"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you stop a notebook you're brought back to the launcher without any information/warning/confirmation.
It may confuse people, not being sure if the notebook was indeed shut down or you were brought back to the launcher by mistake. It may be further confusing if at some point we allow a us

[2022-07-14 13:01] erwangranger opened #294 "[KFNBC] Using File -> Shut Down does not look like it really shut down the pod"
It bring me back to the main screen in which the button "stop notebook server" is still visible.

[2022-07-14 13:06] erwangranger opened #295 "[KFNBC]: No persistence configured"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

No persistent storage has been configured. So closing the notebook server means you lose all the content you might have created.

### Expected Behavior

I'd expect to find my files again after stopping and restarting my notebook.

### Steps To Reproduce

1. log in
2. create a notebook file.
3

[2022-07-14 16:08] samuelvl opened #297 "[KFNBC] Add notebook destination namespace to OdhDashboardConfig"
### Feature description

Instead of getting the notebook namespace destination from an environment variable:

https://github.com/opendatahub-io/odh-dashboard/blob/fee96c0414d0deca2504ec3be230fc4f5c01b16c/frontend/src/utilities/const.ts#L14

Get this value from a new field in the `OdhDashboardConfig` custom resource:

[code]

If `.notebookController.notebooksNamespace` is not present, use the same

[2022-07-14 17:38] #150 closed

[2022-07-14 19:46] DaoDaoNoCode commented on #297
I already implemented both the frontend and backend of this but met some permission issues and logic problems, as well as CRD. @samuelvl We can talk tomorrow morning.

[2022-07-14 20:43] DaoDaoNoCode commented on #294
@samuelvl It looks like the shutdown in JupyterLab only shuts the pod down, but the pod will be back soon because the notebook controller and the Notebook are still there. This is why we need the embedded custom control panel to navigate the user back to the dashboard control panel, which could shut the notebook down.

[2022-07-15 08:07] lugi0 opened #301 "[KFNBC]: GPU dropdown should not be visibile if no GPUs are available"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the spawner page I see the `Number of GPUs` dropdown, even though the only value available is 0

### Expected Behavior

Dropdown should not be shown when GPUs are not available

### Steps To Reproduce

1. Visit spawner
2. Consume all GPUs (if needed)
3. Reload spawner

### Workaround (if a

[2022-07-15 08:15] lugi0 opened #302 "[KFNBC]: File -> Log out does not work"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Clicking on File -> Log Out brings up an error message
![image (5)](https://user-images.githubusercontent.com/82518733/179182321-0eeb12f6-01bd-4209-b41d-4bda8acefbbc.png)
Clicking on `dashboard` simply reloads the JL interface.

### Expected Behavior

Logs the current user out, server keeps r

[2022-07-15 08:20] lugi0 opened #303 "[KFNBC]: Last user selection is not remembered"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If I go to the spawner and select options which are different from the defaults, and then reload the page, I will be brought back to the default settings

### Expected Behavior

User's last selection always persists across page loads

### Steps To Reproduce

Go to spawner
Select anything that

[2022-07-15 08:27] lugi0 opened #304 "[KFNBC]: Deployment Size in the control panel is always shown as default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After spawning a server the control panel page will show the details of the server.
`Container Size` always shows `Default` regardless of user selection (and limits/requests).

### Expected Behavior

Container size matches the size that was selected (S/M/L etc.)

### Steps To Reproduce

Spawn

[2022-07-15 08:28] lugi0 opened #305 "[KFNBC]: After server is ready user should be automatically redirected"
### Feature description

After spawning a server, the user should be redirected to it rather than left in the control panel page

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-15 08:43] lugi0 opened #306 "[KFNBC]: os.environ in a nb server exposes IP addresses of all running nbs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If I do
[code]
in a notebook server, I will get back a list of environment variables, which include IPs for all running notebooks (along with ports for connection, which are the default 443/80, but could be more sensitive if we had custom port mapping).

### Expected Behavior

I should not be

[2022-07-15 08:47] lugi0 opened #307 "[KFNBC]: Add JUPYTER_IMAGE key in default environment variables"
### Feature description

In RHODS we currently use os.environ["JUPYTER_IMAGE"] to check the spawned image name in a running notebook. This environment variable is not currently present in KFNBC.

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-15 08:59] samuelvl commented on #301
@maroroman will review this behavior to confirm if it is a bug

[2022-07-15 09:02] samuelvl commented on #305
@DaoDaoNoCode Does javascript allow this behaviour?

[2022-07-15 09:12] samuelvl commented on #306
@lugi0 I wasn't aware of this behavior, any ideas why is it happening?

[2022-07-15 10:05] lugi0 commented on #306
@samuelvl I'm not sure. Currently in RHODS what gets exposed is similar but limited to your own running nb:
[code]
Now the same information (for TLS) seems to get exposed for all (running?) servers. Perhaps at spawn time something is fetching this info for all `jupyter-nb-*` pods in the namespace instead of narrowing it down by username?

[2022-07-15 10:19] lugi0 commented on #306
What I see in the logs of the pod might confirm what I said earlier:

[code]

There's a sed on the pod name which returns `jupyter-nb`, which is then set as the `Deployment` (and as the `WEBDAV_REALM`)
[code]

I'm not sure if this is then used anywhere else to fetch those environment variables

[2022-07-15 10:45] lugi0 commented on #306
My best guess at the moment is that the culpript is `/opt/app-root/etc/jupyter_server_config.py`, but I cannot find that file in the pod

[2022-07-15 10:52] lugi0 opened #308 "[KFNBC]: Unique and meaningful IDs for all elements in spawner/control panel"
### Feature description

To help with the integration of ods-ci, it would be great to have unique and meaningful IDs for all elements in both the spawner and control panel pages.
It would be even better if the IDs were the same as the ones currently used by the JH spawner page in RHODS.

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-15 11:00] DaoDaoNoCode commented on #305
@samuelvl This is what I am talking about, the browser doesn't allow you to open a new tab, but it allows you to replace the URL of the current tab, so that's why we need an access point in the Jupyter Notebook to navigate us back to the dashboard. Once we have that, we could implement the behavior mentioned in this issue.

[2022-07-15 11:04] DaoDaoNoCode commented on #303
@lugi0 Hi, this design is a little bit different from JupyterHub, we don't record the `lastSelectedImage` and `lastSelectedSize` when the user selects them, because that will cause too many API calls, instead, we only change the value when the user clicks `Start server` button.
Should we change this behavior to make it the same as JupyterHub? @samuelvl

[2022-07-15 11:08] lucferbux commented on #179
Ok, after testing it with @samuelvl we realized that oauth proxy is stripping the  domain from the username in the `X-Forwarded-User` header.
The approach we would be using from now on would be getting the `X-Forwarded-Access-Token` header, try to fetch the user and then get name of the object.

[2022-07-15 14:25] samuelvl opened #309 "[KFNBC] Store controller status in .status.notebookController stanza"
### Feature description

Following [K8s best practices](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#spec-and-status), the status of the controller should be in the `.status` field instead of `.spec`.

Move the `.spec.notebookControllerState` stanza to `.status.notebookController`.

https://github.com/opendatahub-io/odh-dashboard/blob/f

[2022-07-15 14:29] samuelvl commented on #273
Since the admin section highly depends on `.notebookControllerState`, can https://github.com/opendatahub-io/odh-dashboard/issues/309 be addressed along with this issue?

[2022-07-15 14:34] andrewballantyne commented on #273
Detailed items on how to get data and what is left to look into.

Using the ODHDashboardConfig we will want to do:
- List the users who are in the `spec.notebookControllerState` (probably needs to be moved to status)
    - Username
    - Last activity (needs to be added to the config)
    - Server status
        - "Start Server" Goes to spawner page
            - Provides additional information if

[2022-07-15 14:35] andrewballantyne commented on #273
Makes sense to me -- saves from conflicts or in-flight issues with getting things merged.

[2022-07-15 14:35] andrewballantyne commented on #273
Don is on PTO, I'll be taking over this work

[2022-07-15 19:32] DaoDaoNoCode commented on #302
@samuelvl Just FYI you can directly overwrite `hub_control_panel_url` instead of `hub_prefix` and `hub_host` to get rid of `/home` in the URL.

[2022-07-15 19:56] DaoDaoNoCode commented on #308
I will add `id` for all the elements once other features are implemented.

[2022-07-18 11:37] samuelvl commented on #302
@DaoDaoNoCode I don't see that variable in the extension panel: https://github.com/jupyterlab/jupyterlab/blob/3.0.x/packages/hub-extension/src/index.ts#L79-L85

[2022-07-18 13:59] VaishnaviHire opened #314 "[KFNBC]: Add TENSORBOARD_PROXY_URL env variable"
### Feature description

To display Tensorboard in `s2i-tensorflow-gpu-notebook` image, add TENSORBOARD_PROXY_URL if not present. The default value for this env variable should be as follows:

[code]

### Describe alternatives you've considered

_No response_

### Anything else?
Related Issue: https://github.com/thoth-station/s2i-tensorflow-gpu-notebook/issues/6

[2022-07-18 15:00] #295 closed

[2022-07-18 15:32] #307 closed

[2022-07-18 15:44] andrewballantyne commented on #301
@kywalker-rh Should we hide the dropdown when it cannot select anything or should we disable it? Having it clickable serves nothing but to waste the user's time as they cannot do anything with the field anyways. Alternatively (I'm not sure if this is a pattern yet) we could print text instead of a field stating there are no GPUs available or something like that.

[2022-07-18 15:47] DaoDaoNoCode commented on #301
@andrewballantyne I think there is a discussion here https://odh-io.slack.com/archives/C035J0KA6UB/p1658149905199269

[2022-07-18 16:05] andrewballantyne commented on #309
Updating `.spec` is bad form, so this is rated higher because we should look to be predictable with our resources so that it can be understood by all how to consume data.

[2022-07-18 16:06] andrewballantyne commented on #309
Also switching it to a bug as this is not the intended use of K8s resources.

[2022-07-18 16:07] andrewballantyne commented on #273
Unimplemented functionality, not a bug -- also very important for the dashboard to have an admin view.

[2022-07-18 16:41] lugi0 commented on #308
Yes, DOM IDs.
Using `data-id` is fine for me if that is the preferred field for React. No standard (at least that I know of) is being used right now, for us in QE the only request is that the IDs are unique and persistent so that we can use them to interact with the DOM. Even then IDs are not an absolute requirement, we are still able to somehow navigate around the DOM regardless, it just makes ou

[2022-07-18 16:55] andrewballantyne commented on #308
I highly recommend never using `id` properties for selecting elements in React. `id` is a unique property for the browser -- mid-page bookmarks use it for instance.

I highly recommend we move to `data-` oriented properties as they have no expected use, so we can just agree on a convention. OpenShift Console uses `data-id`... but I don't have a problem with `data-test-id` if that's the preferred c

[2022-07-18 17:42] DaoDaoNoCode opened #315 "[KFNBC]: Add API call to get detailed logs for notebook controller"
### Feature description

When starting the notebook server, we hope to see the detailed logs of the spawning. Based on the comment in https://github.com/opendatahub-io/kubeflow/issues/29, we should fetch the events of the Notebook Pod.

This is for the Backend implementation. See https://github.com/opendatahub-io/odh-dashboard/issues/351 for the Frontend implementation.

[2022-07-18 19:26] andrewballantyne opened #316 "[KFNBC]: Notebooks cannot be created with `kube:admin` user"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When trying to spin up a Notebook for my `kube:admin` username, I get a 404 error from the backend and nothing happens on the frontend.

All I saw in the UI when I clicked on the "Start Server" button was it go grey for a few moments and then re-enable. The console log said 404 & Request Fail

[2022-07-18 19:58] andrewballantyne opened #318 "[KFNBC]: Spawner Page has layout issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you launch the KFNBC spawner page the navigation closes and conceals a layout issue.

1. Collapsing the navigation is weird UX -- if I hit the browser back button, I'm back on the Enabled screen without the navigation bar open
2. If I open the navigation bar and get to about 1200px, the

[2022-07-18 20:00] andrewballantyne commented on #318
This issue is not critical and likely will be replaced by the efforts behind the project view when the spawner goes into a modal.

[2022-07-18 20:02] andrewballantyne commented on #281
All errors are more-or-less suppressed to the console; this is very confusing to the user. We should look to fix this asap.

[2022-07-18 20:07] andrewballantyne commented on #282
Looks like a great idea to me... more deduplicating and properly organizing the settings the better.

Kube docs: https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#define-container-environment-variables-using-configmap-data

[2022-07-18 20:32] DaoDaoNoCode commented on #276
@andrewballantyne +1 on this solution.

[2022-07-18 20:32] andrewballantyne commented on #263
We need to generate such documentation... leaving this up to the devs will make this always behind.

Maybe we use something like: https://www.npmjs.com/package/fastify-print-routes ?

https://github.com/opendatahub-io/odh-dashboard/issues/259 will seek to start to replace this effort with a singular API that directly talks to kube.

[2022-07-18 21:15] andrewballantyne commented on #237
@maroroman @lucferbux What's the net goal here? To make the error more palatable to the user or to help the UI not make requests it can never fulfill from this user?

If you do not have access to something, Kube will stop you -- so it should be a moot issue if that's all we need. Unless the error message is undesirable, in which case we can look to do something about that, probably with the librar

[2022-07-18 23:55] andrewballantyne commented on #226
Likely obsolete because of the work in https://github.com/opendatahub-io/odh-dashboard/issues/259 -- the errors in OpenShift Console were not translated.

[2022-07-19 00:06] andrewballantyne commented on #224
@LaVLaS Is this something we can work to close off? Is RHODS aligned with the effort yet?

[2022-07-19 00:24] andrewballantyne commented on #218
This is still needed, even with https://github.com/opendatahub-io/odh-dashboard/issues/259 -- fastify is still our server routing software.

[2022-07-19 03:07] andrewballantyne commented on #194
Is there anything not currently covered in the ODHDashboardConfig? @DaoDaoNoCode @dlabaj

[2022-07-19 03:32] andrewballantyne commented on #193
Does https://github.com/opendatahub-io/odh-dashboard/issues/285 not mean we have this already implemented?

@LaVLaS can this be closed?

[2022-07-19 03:45] andrewballantyne commented on #192
Would this effort be part of the KFNBC? @LaVLaS @DaoDaoNoCode @lucferbux

I see https://github.com/opendatahub-io/odh-dashboard/pull/270 which looks like this overlaps with it in some fashion

[2022-07-19 08:58] lugi0 opened #321 "[KFNBC]: Custom image that works in RHODS fails to spawn in KFNBC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If I try to create a custom image with this URL: quay.io/thoth-station/s2i-lab-elyra:v0.1.1 (which I am able to spawn in RHODS)
spawning will then fail with the following logs in the nb pod:

[code]

### Expected Behavior

Image is added to spawner and is spawnable

### Steps To Reproduce

Lo

[2022-07-19 08:58] #304 closed

[2022-07-19 09:19] samuelvl commented on #315
Increasing priority to high since this is a requirement for phase 0

[2022-07-19 10:08] samuelvl commented on #148
Closing this issue since the progress is tracked in this story -> https://github.com/opendatahub-io/odh-dashboard/issues/213

[2022-07-19 10:08] #148 closed

[2022-07-19 10:27] lugi0 opened #322 "[KFNBC]: Cancel button in the spawner page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

![image (6)](https://user-images.githubusercontent.com/82518733/179729055-41249d79-acc6-471f-a701-e7a34a89e144.png)
a `Cancel` button appeared at the bottom of the spawner page. If I click it, it brings me back to the `Enabled` page.

### Expected Behavior

I don't think there should be a `Ca

[2022-07-19 10:36] #316 closed

[2022-07-19 13:15] andrewballantyne commented on #322
@kywalker-rh We have cancel buttons in OpenShift Console on all our pages, it effectively just does a browser history goBack... does this make sense to bring into ODH? If we do not have a back button here, I am more strongly thinking we should have the navigation still visible like I mentioned in https://github.com/opendatahub-io/odh-dashboard/issues/318

[2022-07-19 13:16] mlassak commented on #289
As per @andrewballantyne suggestion, I added 0 warnings requirements and I'm looking to resolve the remaining frontend warnings

[2022-07-19 13:25] lugi0 opened #323 "[KFNBC]: ODH logo at top of page doesn't direct anywhere"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

If I click the ODH logo in the top left, I am not redirected anywhere.

### Expected Behavior

Redirect me to the "main" page of the dashboard (`Enabled` page imho)

### Steps To Reproduce

Open dashboard
Click top left logo

### Workaround (if any)

_No response_

### OpenShift Version

_No

[2022-07-19 13:33] lugi0 opened #324 "[KFNBC]: Environment variables are not added to the spawned server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Adding environment variables in the spawner page does not result into them being available in the spawned server
![Screenshot from 2022-07-19 15-29-25](https://user-images.githubusercontent.com/82518733/179762774-15a0b5be-4b1a-495f-b1ab-42221ce623c3.png)
![Screenshot from 2022-07-19 15-31-05]

[2022-07-19 13:50] andrewballantyne commented on #304
@lugi0 The PR merged this morning, so it would not be part of any image build more than 5 hours ago (from this message)

[2022-07-19 13:56] andrewballantyne commented on #316
I'd imagine something broke if the spinner got stuck... requests don't last long. If the JS Thread breaks it can cause the UI not to properly update after that.

[2022-07-19 14:49] andrewballantyne commented on #324
Kinda defeats the purpose of env vars if you do not have access to read them.

[2022-07-19 15:21] #283 closed

[2022-07-19 15:28] VaishnaviHire commented on #306
@lugi0 This seems to be set by the minimal notebook https://github.com/thoth-station/s2i-minimal-notebook/blob/master/builder/run#L14. But I am not sure why same issue was not observed by JupyterHub.

[2022-07-19 18:31] VaishnaviHire commented on #306
@lugi0 @samuelvl

As given in the Kubernetes [docs](https://kubernetes.io/docs/concepts/services-networking/service/#discovering-services),  env variables related to services are shared across pods in a namespace if the service is created after the pods are deployed.

From the Note in the docs
[code]

[2022-07-19 21:29] DaoDaoNoCode commented on #305
@samuelvl I found an issue when implementing this. Since we change the `ServerApp.base_url` here, when we log out of the notebook, then we log in, we will always go to the `notebook_url` without `base_url`, which means we will get a 404 error when we log out and log in again.
Do you have any solution?

[2022-07-20 08:35] samuelvl commented on #305
@DaoDaoNoCode Nice catch, we can use the `--logout-url` flag in the oauth-proxy. I will open a PR to support a new annotation to set this flag:

[code]

[2022-07-20 10:46] jgarciao opened #328 "[Bug]: ODH is not listed in OpenShift's Console > Applications"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the kubeflow pilot cluster, ODH is not listed in OpenShift's Console > Applications. I'm not sure if this is the expected behavior or it should appear (like RHODS does), but creating this bug just in case.

![image](https://user-images.githubusercontent.com/66894/179963276-4603718f-eda4-40

[2022-07-20 14:11] andrewballantyne commented on #308
@lugi0 I can appreciate your position -- this is something we should have done earlier for sure. However, we have a lot of work to get done for this tight deadline early Aug. I'd like us to get ahead of the curve before we devote time to any refactorings, including adding test data attributes everywhere.

If you could provide a better idea of what doesn't have the test ids or what kinda tests you

[2022-07-20 14:31] jkoehler-redhat commented on #308
@andrewballantyne @lugi0 I agree we have to decided what is absolutely necessary at this point.  We are not going to be able to do 100% coverage to meet this tight deadline.  @lugi0 can you please help to address what @andrewballantyne is mentioning for the slim pass?

[2022-07-20 15:02] lugi0 commented on #308
@andrewballantyne @jkoehler-redhat I understand there are important deadlines which will inevitably take priority over this, but the problem I am currently facing is that if I want to adapt our automation to work with KFNBC I run the risk of having to rework it multiple times until the UI/UX is finalized.

To give a concrete example, the current UX for closing down a server is bound to change cons

[2022-07-20 15:04] andrewballantyne commented on #328
@LaVLaS @cfchase I believe we talked about adding the Dashboard to the ConsoleLink -- would this be something provided by the operator?

[2022-07-21 07:09] lucferbux commented on #192
@andrewballantyne oh ok, i didn't see the message here, I've updated it, it would be super nice if you can review it, it's ready to be merged, thanks for all the work.

[2022-07-21 13:46] laubai opened #336 "[KFNBC] Most cards under Resources tab still show JupyterHub icon"
As per discussion on Slack with Guillaume, these icons should all be Jupyter icons rather than JupyterHub icons once KFNBC is implemented.

[2022-07-21 13:50] laubai commented on #336
![Screenshot from 2022-07-21 23-47-21](https://user-images.githubusercontent.com/466662/180229994-06bd67f0-f967-4459-b7bf-b476a1f18de3.png)

One of the cards has the correct Jupyter icon, the rest have the JupyterHub icon still.

[2022-07-21 14:28] lucferbux opened #337 "[Bug]: Oauth cookie secret is not obfuscated"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The current cookie secret in [manifests/overlays/authentication/secret.yaml](https://github.com/opendatahub-io/odh-dashboard/pull/326/files/9fb91587933eb6f396dd9016b3002bb66a1a6e26#diff-de2234e6ba566a2005b564bac259cecd5d81df08e6fd593e9d94dbf7f5119c8f) is not obfuscated, it might need to be dy

[2022-07-21 18:45] jkoehler-redhat opened #338 "[KFNBC]: UI: Support tolerations for Jupyter notebooks"
### Feature description

See following jira for details: https://issues.redhat.com/browse/RHODS-3624

Note: The above jira is more involved.  P0 is the focus.

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-21 19:00] DaoDaoNoCode commented on #336
@laubai Just want to make sure, we want to keep all of these docs, and only change the icons of them, right?

[2022-07-22 00:55] LaVLaS opened #339 "[Feature Request]: Add the ability for an Admin to specify environment variables or deploy additional k8s resources for specific notebook images"
### Feature description

ODH JupyterHub provided support for administrators to customize environment variables and [services](https://github.com/opendatahub-io/jupyterhub-singleuser-profiles/blob/master/docs/services.md) based on the user spawning a notebook OR the notebook image being spawned.  This functionality allowed an administrator to provide:

* default environment variables for specific n

[2022-07-22 01:01] LaVLaS commented on #338
I think we should allow an admin to designate tolerations at the global scope for all notebooks AND/OR specific sizes.  Also this should allow for tolerations that only applied to be applied when a Special Resource (GPU) is requested by the user

[2022-07-22 01:54] DaoDaoNoCode commented on #289
Close this issue due to #327

[2022-07-22 01:54] #289 closed

[2022-07-22 03:43] laubai commented on #336
@DaoDaoNoCode Good question - I think so, but I haven’t actually run through them. Let me do that on Monday and get back to you.

[2022-07-22 04:10] DaoDaoNoCode opened #340 "UI - Refactor SpawnerPage component"
### Feature description

We need to refactor the SpawnerPage component since it's too large (over 400 lines), and it's not easy for us to read and maintain it. We should split it into different functions into different files.

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-22 11:18] #323 closed

[2022-07-22 12:36] jkoehler-redhat commented on #301
@kywalker-rh @jedemo please comment on Andrew's question.

[2022-07-22 12:41] samuelvl opened #341 "[KFNBC]: Do not hardcode PVC size"
### Description

Get PVC size from OdhDashboardConfiguration CRD instead of hardcoding it:

https://github.com/opendatahub-io/odh-dashboard/blob/56149975eff9047dab3a77503f313153d27e4ba0/frontend/src/pages/notebookController/SpawnerPage.tsx#L303

[2022-07-22 13:29] jedemo commented on #301
If a cluster doesn't have any GPU nodes that can be used (either from active nodes or via nodes that can be triggered by auto-scaling), I don't think we should show the GPU drop down, as it adds unnecessary clutter. In other words, if a customer/cluster has not enabled GPUs, no reason to show the GPU drop down in the spawner.

If GPUs are enabled, I think it should be clickable if a GPU session ca

[2022-07-22 15:10] kywalker-rh commented on #301
I agree with @jedemo for both cases. This makes the most sense from a UX standpoint as well.

[2022-07-22 15:34] bdattoma opened #342 "[KFNBC]: KFNBC should follow the access policy defined in the groups ConfigMap"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It seems KFNBC is not using the groups configuration in `jupyterhub-default-groups-config` CM. Any user I log in can access the spawner page. Thus, it is not possible to allow only a portion of the OCP users to spawn jupyter images

### Expected Behavior

Only the users belonging to `admin_gr

[2022-07-22 15:41] bdattoma commented on #342
based on the logs in the dashboard pods, I see that if you log in using an admin, it recognizes it is an admin since it prints out `isAdmin: true`.
So, the issue could be only related to prevent users to access KFNBC if they are not in the selected groups

[2022-07-22 16:18] #179 closed

[2022-07-25 09:47] maroroman commented on #237
@andrewballantyne I think #259 will make this issue obsolete so I am willing to close it, since communication directly with k8s with a bearer token will provide all the authorization we need.

[2022-07-25 10:34] laubai commented on #336
@DaoDaoNoCode Yes, we can keep them all. I will log a separate issue, though - Launching Jupyter hides the QuickStart that the user is currently following steps in, which is an issue for people trying to complete the  first quickstart! :)

[2022-07-25 10:48] laubai opened #344 "[KFNBC]: "Launch application" on Jupyter hides Quick Start"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

New users would typically want to refer to resources as they perform tasks to ensure they're doing the right thing.

When a user has a Quick Start open and clicks "Launch application" on the Jupyter card from the Applications -> Enabled page, the quick start and the navigation both disappear.

[2022-07-25 10:49] laubai commented on #344
Note this seems related to https://github.com/opendatahub-io/odh-dashboard/issues/318 but is not the exact same issue, apologies if this is considered duplication.

[2022-07-25 11:01] tarukumar opened #345 "[KFNBC]: "Default" Container size is missing from Notebook controller page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

"Default" Container size is missing from Notebook controller page. We have only small,Medium and Large sizes present

Other behaviors:

1. Actual container size value has changed:
Example:
JH:
Small:
Limits: 2 CPU, 8Gi Memory Requests: 1 CPU, 8Gi Memory
Medium:
Limits: 6 CPU, 24Gi Memory Requ

[2022-07-25 13:37] lugi0 opened #346 "[KFNBC]: All ISV/RH addon tiles are missing from the Dashboard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After installing the 1.15 livebuild (quay.io/modh/rhods-operator-live-catalog:1.15.0-qe-nbc), all ISV tiles and all additional RH addons tiles are missing from the dashboard.
The behaviour is present both after a fresh install and after enabling KFNBC

### Expected Behavior

Dashboard shows a

[2022-07-25 14:00] DaoDaoNoCode commented on #345
@samuelvl Do you know what the default should be? I didn't know how can I get the default value so I remove that temporarily. If you know where I can get the default value and set it to the Notebook Object, I can add it back.

[2022-07-25 14:07] andrewballantyne commented on #340
Thanks for logging this Juntao. The component is doing too many things to achieve a working UI. It should be broken out into hooks or wrapping components (if applicable). There should be no need to do it all in one component, it obfuscates the code readability.

[2022-07-25 14:08] andrewballantyne commented on #340
I'm going to pull it from the notebook controller work as it does not impact our deliverable for that.

[2022-07-25 14:09] lugi0 opened #347 "[KFNBC]: while CUDA builds are ongoing user is unable to spawn any image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Shortly after the installation of RHODS, while the CUDA builds are still ongoing, the user is unable to spawn any image from the spawner page.
The list of images will be empty, and will be populated only after the last cuda build completes (usually tensorflow).
![image (7)](https://user-image

[2022-07-25 14:10] andrewballantyne commented on #342
Based on the conversation in gchat, this definitely is something we need to address. This is the premise for our packages to only allow users to access content they are allowed to see.

[2022-07-25 14:11] lugi0 commented on #347
@mwaykole and @kpouget have both experienced this first hand and might have additional details

[2022-07-25 14:13] andrewballantyne commented on #339
@jkoehler-redhat noted to me that this is known by @jedemo and is not a high priority.

[2022-07-25 14:16] andrewballantyne commented on #344
Definitely related but not a duplicate -- this is a much higher priority issue as quick starts needs to remain open for them to be of use.

[2022-07-25 14:25] jkoehler-redhat commented on #339
https://github.com/opendatahub-io/odh-dashboard/issues/338 is being worked as high priority

[2022-07-25 14:35] andrewballantyne commented on #346
@LaVLaS @cfchase thoughts on what happened here? I'm not super familiar with the RHODS setup, so I do not know if there is additional things not packaged with. I imagine it has to do with a configuration from the KFDEF, no?

@lugi0 Do you recall the last version it worked with?

[2022-07-25 14:37] lugi0 commented on #346
It is currently working with the 1.14 RC build @andrewballantyne

[2022-07-25 15:06] lugi0 commented on #345
@andrewballantyne if the aim is to have parity, keep in mind that RHODS also allows for `Large` and `XLarge` sizes, but they only show up in the spawner if the user has enough resources to actually use them

[2022-07-25 15:08] andrewballantyne commented on #345
That's a good catch @lugi0 -- @DaoDaoNoCode we do not do any of that kind of detection today right? I do not recall seeing any code detecting the possibility for `Large` and `XLarge` in the Dashboard. (cc @dlabaj)

[2022-07-25 15:11] andrewballantyne commented on #347
This seems pretty straight forward -- lock the button when it can't be created properly. It is likely the defaults are influenced by presets and we just need to accept that there is an initial state of the button not being enabled.

Might be worth looking into a UX warning or info that says things are still starting up as to why the button is disabled in this case. Whomever picks it up should talk

[2022-07-25 15:13] kpouget commented on #347
for testing purposes, it would be great if the button could be available as soon as the basic images are available

[2022-07-25 15:17] andrewballantyne commented on #347
There is likely an error getting swallowed server-side... we should send that back to the client and present it next to the button so we can showcase why it did not start. The build should be able to start with the default images, and if there is an issue with that due to something, that needs to be presented -- the button, if enabled, should work or tell us why it cannot.

[2022-07-25 15:23] andrewballantyne commented on #345
Is the ODH Dashboard Config created as part of RHODS setup? Because if it is, then that will be solved by that setup -- if not, then our defaults will not cover this. @DaoDaoNoCode

[2022-07-25 15:42] andrewballantyne commented on #21
It would definitely be interesting to mount cards based on available routes -- but we'd need to think through the UX of this. What about the icon? The display label? The description? There is more to the cards than just a route link, but it is a promising idea to exposing more components.

[2022-07-25 15:45] cfchase commented on #21
Looks like this issue has been going stale.  I would think we could configure components and routes on the CR once https://github.com/opendatahub-io/odh-dashboard/pull/243 is implemented?

[2022-07-25 15:47] andrewballantyne commented on #35
We run on `main` for the ODH Dashboard... `master` I believe was RHODS but is no longer the case as of a week or so ago. @LaVLaS feel free to reopen this but I think this is completed.

[2022-07-25 15:47] #35 closed

[2022-07-25 15:47] DaoDaoNoCode commented on #345
@andrewballantyne I have no idea about this. This would be a good question for @samuelvl

[2022-07-25 15:59] jkoehler-redhat commented on #18
@andrewballantyne, not on the roadmap as of yet.  We could re-evaluate.

[2022-07-25 16:15] andrewballantyne commented on #237
@maroroman Reading back on this -- I wonder if the underlying request here is still valid but the discussion on the how confused the situation.

#259 will mirror the RBAC access we have today. It uses the `kube` plugin for `fastify` and make requests as the `user` that is logged in -- server side.

We do not have a solution (that I know of) for the logged in **UI** user to make requests as them. W

[2022-07-25 16:17] LaVLaS commented on #346
The ISV/RH addon tiles are specific to the downstream build and not included upstream build.  Since those tiles need to be built into the image, we will add an extra commit downstream to add those missing tiles for the downstream build.

There are hardcoded yaml files in the data folder that will eventually be moved to k8s resources that will be read at runtime in #243

[2022-07-25 16:18] andrewballantyne commented on #43
The gap is larger now. @LaVLaS do you have information here? What's the effort behind aligning RHODS... I thought our branching strategy from a week or so ago would have aligned the two repos.

[2022-07-25 16:20] andrewballantyne commented on #60
We should evaluate this... everything is merged together in a single reducer but we should look to separate the data into different contexts. This needs a design before we approach it otherwise we may just need to refactor again.

[2022-07-25 16:23] andrewballantyne commented on #139
This will become obsolete the more we adopt #259 -- once it merges. I'm going to close this issue as I don't think the effort will be worth starting testing that won't last in the current architecture redesign.

[2022-07-25 16:23] #139 closed

[2022-07-25 16:27] andrewballantyne commented on #189
Is this not handled by the new branching strategy @LaVLaS ?

[2022-07-25 16:28] andrewballantyne commented on #212
This ticket should get a similar rework to match the effort @samuelvl did in https://github.com/opendatahub-io/odh-dashboard/issues/213 -- but can wait until we put our focus into it.

[2022-07-25 16:58] andrewballantyne commented on #301
I appreciate the breakdown @jedemo -- I wonder in case no2 if we should not show an info alert next to the disabled field stating GPUs are in use, so none are available at this time. Typically I would say not to show things to the user they cannot change, but it may have value to showcase it's just not available at this time. cc @kywalker-rh (more ux questions 🙂 )

[2022-07-25 18:32] DaoDaoNoCode commented on #336
@laubai Is there a getting-started doc for `jupyter` like this `jupyterhub` one? https://github.com/opendatahub-io/odh-dashboard/blob/main/data/getting-started/jupyterhub.md. If there is no, should I also hide the `jupyterhub` card on the `Explore` page when the notebook controller is enabled?

[2022-07-25 18:39] andrewballantyne commented on #336
Bulk un-assigning things that were old -- reassigned this back to you @DaoDaoNoCode as you're working on it now. If you are actively working on it please move it into progress on the board.

[2022-07-25 18:40] DaoDaoNoCode commented on #336
Sure, already moved. I just need some more information to get this PR submitted so I can make sure we are showing the correct docs on every page including `Explore` and `Resources`.

[2022-07-25 18:49] andrewballantyne commented on #297
As discussed on Slack. @DaoDaoNoCode please push your code up and create WIP/Draft PRs that link to this issue so we can keep track of on-going work and work that is waiting on other work.

[2022-07-25 19:23] andrewballantyne opened #351 "[KFNBC]: Add UI detailed logs for notebook controller"
### Feature description

When starting the notebook server, we hope to see the detailed logs of the spawning. Based on the comment in https://github.com/opendatahub-io/kubeflow/issues/29, we should fetch the events of the Notebook Pod.

This is for the Frontend implementation. See #315 for the Backend implementation.

[2022-07-26 06:18] mwaykole opened #352 "[BYON]: In some places in the dashboard instead of notebook images its mentioned as byon-image"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In some places in the dashboard instead of notebook images its mentioned as byon-image

### Expected Behavior

The name should be consistent in all the places  either Byon-image or Notebook-image

[2022-07-26 06:19] mwaykole commented on #352
![Screenshot from 2022-07-26 11-47-08](https://user-images.githubusercontent.com/44530572/180937006-f0b0143d-b101-443d-9adb-e0dbeec9ab70.png)
![Screenshot from 2022-07-26 11-46-58](https://user-images.githubusercontent.com/44530572/180937019-adbc0964-0a04-4bd7-b7ff-ee70e5d7fabe.png)
![Screenshot from 2022-07-26 11-46-48](https://user-images.githubusercontent.com/44530572/180937028-ee1df808-eb64-46

[2022-07-26 06:23] mwaykole commented on #352
![Screenshot from 2022-07-26 11-47-08](https://user-images.githubusercontent.com/44530572/180937666-de4d3b80-3694-4df4-b3b8-613d9e9fa4
![Screenshot from 2022-07-26 11-46-
![Screenshot from 2022-07-26 11-46-48](https://user-images.githubusercontent.com/44530572/180937682-b9133085-23c7-4f7b-bf20-332b718b0397.png)
58](https://user-images.githubusercontent.com/44530572/180937675-d67a14a3-ddb1-49a4-aa1

[2022-07-26 06:23] mwaykole commented on #352
![Screenshot from 2022-07-26 11-46-48](https://user-images.githubusercontent.com/44530572/180937774-c20e3fb3-4b08-4834-9142-6e81559c5fc4.png)
![Screenshot from 2022-07-26 11-47-08](https://user-images.githubusercontent.com/44530572/180937790-8a1c5af4-8050-4d6c-befb-88497d4d27b7.png)

[2022-07-26 07:07] maroroman opened #353 "[KFNBC]: Implement notebook controller culling in dashboard cluster settings"
### Feature description

This feature should implement Requirement 07 from Issue:https://github.com/opendatahub-io/odh-dashboard/issues/213 in the cluster settings menu of the Dashboard.
It should use the culler functionality from: https://github.com/opendatahub-io/odh-manifests/pull/581

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-26 07:27] lugi0 opened #354 "[KFNBC/JH]: Usage Data Collection checkbox is in a weird state by default and cannot be "enabled""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After install, both with JH or KFNBC, the Usage Data Collection checkbox appears to be in a weird state
![selenium-screenshot-291](https://user-images.githubusercontent.com/82518733/180947577-b8d301d1-cac3-4d67-b257-27893fcb452d.png)
The checkbox is usually either empty or has a check mark (i

[2022-07-26 07:33] lugi0 commented on #354
Small update:

After clicking on `Save Changes`, if you refresh the browser page these error notifications will show up for a split second before the page is reloaded. One notification for each click on the button.
![Screenshot from 2022-07-26 09-31-52](https://user-images.githubusercontent.com/82518733/180949586-5ebd7596-434e-48dd-8766-785a6308ff4c.png)

[2022-07-26 07:54] lugi0 opened #355 "[KFNBC/JH]: JupyterHub tile randomly disabled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

While testing the 1.15 live build that includes both KFNBC and JH, the JupyterHub tile was seemingly randomly in `Disabled` state.
This was at least an hour after install and after having run Smoke tests on the same build/cluster, where the issue was not seen.
![selenium-screenshot-4](https:/

[2022-07-26 11:25] bdattoma opened #356 "[KFNBC]: Access Jupyter notebook server requires another login action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

**Current process to access a Jupyter notebook server**
1. Log in RHODS Dashboard using credentials of UserX
2. Spawn the desired notebook image from the spawner
3. click "Access server" button after the notebook server spawning process is done
4. Log in Jupyter once again using credentials o

[2022-07-26 11:29] bdattoma opened #357 "[Feature Request]: Add sharing options for a notebook server"
### Feature description

As of now, a userX can access the notebook server started from a userY by using  userX's credentials and without informing/warning userY.
I think it would be good to have for a user to be able to configure the access policy to their own servers. For example, userX wants to be the only one accessing their servers until they decide to share with others. (I may understand if

[2022-07-26 12:05] #324 closed

[2022-07-26 12:08] samuelvl commented on #357
This will be default behavior after we merge this PR https://github.com/opendatahub-io/odh-dashboard/pull/358

- User X will only have access to server X
- User X will only have access to server Y
- ODH Admins will have access to server X and Y

[2022-07-26 12:42] samuelvl commented on #356
This is the expected behavior by design in Openshift, OAuth proxy does not provide SSO capabilities.

We are exploring alternatives to provide a SSO experience for ODH components, tracked in [RHODS-2130](https://issues.redhat.com/browse/RHODS-2130)

[2022-07-26 12:42] #356 closed

[2022-07-26 13:38] DaoDaoNoCode commented on #352
This looks like not a KFNBC bug. It's a naming issue for BYON feature.

[2022-07-26 14:09] bdattoma commented on #357
@samuelvl what about the ability of sharing access? Would it make sense?

[2022-07-26 14:53] bdattoma opened #359 "[KFNBC]: Readiness and Liveness probe failing in the notebook pods (intermittent)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Notebook pod is sometimes getting failures on Liveness and Readiness probe (events). Last time it happened to me it was when using Intel AiKit jupyter image. The notebook server is working, though.

![image](https://user-images.githubusercontent.com/88311595/181038749-d5ccbddf-c71d-4f72-bc7a-

[2022-07-26 15:34] maroroman commented on #274
Changed priority to blocker since this issue is causing GPU (which is a core feature) to not work.

[2022-07-26 15:47] andrewballantyne commented on #355
Yeah, I've seen this too... happens when things are being loaded. I've never seen it get stuck like this (you said for 1h) -- Did you navigate the screen @lugi0 ?

@DaoDaoNoCode I believe our loading code is doing something weird when the tile is added, likely a React state or something because I find it goes away when I navigate away and come back (ie the component reloads)

[2022-07-26 15:48] DaoDaoNoCode commented on #355
@andrewballantyne Yeah it's weird sometimes that I don't know how it loads but looks like it's not loading in a correct order, I will do some research on how this issue happens.

[2022-07-26 15:50] andrewballantyne commented on #357
I do not believe Lucas' work will solve this @samuelvl -- I think @bdattoma is asking for something related to the "Project" work found in Kyle's mocks here: https://marvelapp.com/prototype/afa716d/screen/87997400

[2022-07-26 15:51] andrewballantyne commented on #357
I do not believe this is part of KFNBC

[2022-07-26 15:54] samuelvl commented on #345
@anishasthana @maroroman Could you help us identifying where the default size is defined?

[2022-07-26 15:55] samuelvl commented on #212
@andrewballantyne Regarding CNBi we are still in the architecture phase https://docs.google.com/document/d/1lESU67PFCtM5Mt05wL_ee_LY7Wc9OcGNBb5cvcOtkVU

We can rework this issue when we finish the architecture document

[2022-07-26 15:57] #344 closed

[2022-07-26 15:59] samuelvl commented on #357
@andrewballantyne @bdattoma Correct, sharing notebooks between users is part of the future Project initiative but it's not in KFNBC scope

[2022-07-26 16:01] andrewballantyne commented on #357
I've removed it from the project then... this is something we need to address, but not part of the KFNBC work.

[2022-07-26 16:04] samuelvl commented on #359
@bdattoma Can you provide notebook pod logs?

[2022-07-26 16:05] andrewballantyne commented on #355
@DaoDaoNoCode if you do not know off the top of your head, we can leave the investigate to the bug. No worries 🙂

[2022-07-26 16:08] #309 closed

[2022-07-26 16:11] lugi0 commented on #355
@andrewballantyne I don't think it was in this state for 1h, but it just happened to be in this state while a test was being run.
What's weird is that a bunch of tests ran before that and passed, and other tests ran after and passed, so it seems quite random.
I have not manually encountered this, the screenshot is from an automated test run (which failed because of the Disabled state).

[2022-07-26 16:12] andrewballantyne commented on #355
Interesting... I see this almost like clockwork when I change the state of the ODH Dashboard Config to be JH or KFNBC... the card shows up always in a disabled state first.

[2022-07-26 18:19] jkoehler-redhat commented on #338
Mockup: https://marvelapp.com/prototype/djj8abd

[2022-07-26 18:44] andrewballantyne commented on #157
Thought this was something else, apologizes for back and forth on the kind haha...

[2022-07-27 08:06] lucferbux opened #360 "[Bug]: Default user fallback to "kube:admin""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Right now, when fetching the user, if both **oauth proxy's header** and **openshift user username** are empty the dashboard will fallback the username to `kube:admin`.

### Expected Behavior

Maybe if we cannot find the User we need to raise an exception and raise an error in the frontend.

#

[2022-07-27 08:10] bdattoma commented on #357
cool, thanks for the clarifications @andrewballantyne @samuelvl

[2022-07-27 13:29] andrewballantyne commented on #360
RBAC is not going to work if we default to kube admin, so we need to make sure the calls to kube are made under the logged in (frontend) user, and not whomever is tied to the kube middleware. (they are the same when running locally, but not the same when on a hosted server)

[2022-07-27 13:49] andrewballantyne opened #361 "[Feature Request]: Improve our Merge Checks in PRs"
### Feature description

Currently when we go to merge a PR, it does not prevent a merge when it finds an invalid TS reference. Which kinda defeats the purpose behind having TS.

I'm not sure what part of our configuration is having issues, but we did suppress it ([this was fixed](https://github.com/opendatahub-io/odh-dashboard/blob/main/frontend/config/webpack.common.js#L38) for development). It

[2022-07-27 14:59] lugi0 opened #362 "[KFNBC]: Openshift Monitoring does not display usage data for Jupyter notebooks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After running a workload in a notebook server, openshift monitoring does not show any data
![selenium-screenshot-92](https://user-images.githubusercontent.com/82518733/181280198-b4275de6-253b-48a1-91a3-6b47514bafa7.png)

### Expected Behavior

CPU usage data should be collected and shown

###

[2022-07-27 15:02] andrewballantyne commented on #362
@lugi0 Does it work for JH?

[2022-07-27 15:08] lugi0 opened #363 "[KFNBC]: User1 can spawn a notebook and then access it as User2"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Currently, when spawning a notebook from the KFNBC spawner, the nb is "assigned" to the user logged into the RHODS dashboard, e.g. if logged in as `ldap-admin1` the notebook pod / route will refer to `jupyter-nb-ldap-2dadmin1`.
However, after the spawn is complete and the user clicks on `Acce

[2022-07-27 15:13] lugi0 opened #364 "[KFNBC]: Notebook URL does not include the counter in the pod name"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When spawning a server, a pod will be created with a name such as `jupyter-nb-username-0`.
I believe this is being done to support the ability for a user to spawn multiple notebooks in the future.

However, currently the URL for a running notebook will strip the final counter from the pod nam

[2022-07-27 15:19] lugi0 commented on #362
@andrewballantyne it does
![selenium-screenshot-58](https://user-images.githubusercontent.com/82518733/181285127-408ebdb3-df56-44f4-8f38-a1e6d9717d35.png)

[2022-07-27 16:13] samuelvl commented on #362
cc @atheo89 @accorvin

[2022-07-27 16:24] samuelvl commented on #364
Hey @lugi0 The reason behind the counter is because the notebook controller creates and `StatefulSet` rather tan a single pod (JH) and it identifies each replica with a different number, for example:

[code]

When we allow users to create more than 1 notebook we'll add some kind of ID to differentiate each notebook.

Let me know if it answers your question and I can close the issue.

[2022-07-27 16:28] samuelvl commented on #363
This will be fixed by https://github.com/opendatahub-io/odh-dashboard/pull/358

[2022-07-27 16:39] lucferbux commented on #361
It's even easier, the `test:type-check` is missing from the test command. Adding it.

[2022-07-27 17:45] #361 closed

[2022-07-27 20:13] strangiato opened #366 "[Bug]: Dead link in BYON docs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The BYON docs:
https://github.com/opendatahub-io/odh-dashboard/blob/main/docs/byon.md

Has a dead link pointing here:
https://github.com/opendatahub-io/odh-dashboard/blob/main/docs/features.md

### Expected Behavior

Should probably point here instead:

https://github.com/opendatahub-io/odh-d

[2022-07-27 20:55] #366 closed

[2022-07-28 07:35] bdattoma commented on #359
I will next time I hit the problem

[2022-07-28 08:17] lugi0 commented on #364
@samuelvl it does, thank you. I'll go ahead and close this one

[2022-07-28 08:17] #364 closed

[2022-07-28 08:56] #306 closed

[2022-07-28 10:43] lugi0 commented on #179
@lucferbux @samuelvl was this fix included in the 1.15 live build? I've just noticed that our testing with special usernames fails on the user `ldap-special@`; the user is able to login and access the spawner page, however in the RHODS dashboard upper right the `@` is stripped away from the username, I feel this issue and mine are one and the same.

[2022-07-28 11:02] samuelvl commented on #179
@lugi0 I'm afraid it's not included yet. Commits that were included in RHODS live build are https://github.com/red-hat-data-services/odh-dashboard/commits/main

I will create a new live build between today and tomorrow that include latest changes, I'll let you know when it is ready

[2022-07-28 11:05] lugi0 commented on #179
@samuelvl could you also provide us with a list of fixes that are included in the live build, so that we can validate them?
The list of commits could work, but a list of issues would be even better IMHO

[2022-07-28 11:37] atheo89 commented on #362
I am checking it, I will be back when I have insights

[2022-07-28 13:17] andrewballantyne commented on #157
Should be covered by #351

[2022-07-28 13:26] DaoDaoNoCode commented on #293
<img width="560" alt="Screen Shot 2022-07-15 at 4 33 36 PM" src="https://user-images.githubusercontent.com/37624318/181516446-79e5d394-b88f-442e-8d25-aa7ed2a82c60.png">
UX design here.

[2022-07-28 13:46] andrewballantyne opened #368 "[Bug]: Make sure the server sends back errors when starting NB"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

#281 is a catch-all for the backend swallowing the errors and not returning them to the frontend. This issue is specifically for the Spawner page. We need to send back and error if we have one when we go to start up a NB... no feedback to the user when it fails is not good.

### Expected Beha

[2022-07-28 13:53] #315 closed

[2022-07-28 14:21] andrewballantyne opened #369 "Improve Jest Setup"
We have a setup issues for our Jest configuration. Noted on PR #332 [here](https://github.com/opendatahub-io/odh-dashboard/pull/332#discussion_r932112761), we needed to change the way we used lodash.

We should look to make sure Jest is running on the same transform our code runs on so we don't have to adjust our code for testing.

Links...
https://stackoverflow.com/questions/42260218/jest-setup-s

[2022-07-28 15:02] #290 closed

[2022-07-28 15:02] #363 closed

[2022-07-28 15:06] lucferbux opened #370 "[Bug]: Missing dockerignore in project"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the current project structure, we are missing dockerignores in both root folder, frontend folder and backend folder, so when we run `COPY --chown=default:root ${SOURCE_CODE} /tmp/src` it's including unwanted folders such as `node_modules` or deployment directories.

### Expected Behavior

[2022-07-28 15:31] #370 closed

[2022-07-28 15:34] #302 closed

[2022-07-28 15:34] #305 closed

[2022-07-28 18:22] strangiato opened #372 "[Feature Request]: Update .dockerignore"
### Feature description

Current image has a lot of unneeded files being added into the image that should be added to the .dockerignore

Here are the current files present in the `/opt/app-root/src` folder:

[code]

Here are some things to consider adding to the .dockerignore:

[code]

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-07-28 18:29] andrewballantyne commented on #372
cc @lucferbux

[2022-07-29 13:40] lucferbux commented on #372
Yeah, I'm opening a new PR, i will leave the `.env` files because I'm not sure either if some of them are needed. Tx.

[2022-07-29 15:29] lugi0 opened #374 "[KFNBC]: UI/UX changes between manual/automated/Jenkins test runs"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We are observing discrepancies in both UX and UI based on the way in which test cases are run:

Jenkins run:
![selenium-screenshot-57](https://user-images.githubusercontent.com/82518733/181792904-42d6935a-bf92-4d6f-b4e6-635a35e168a5.png)

Same steps done manually:
![Screenshot from 2022-07-28

[2022-07-29 16:25] strangiato opened #375 "[Feature Request]: Preview BYON Display When Creating Instance"
### Feature description

When Importing an image for BYON it would be great to be able to preview what the notebook will look like in the Jupyter Launcher page.

The preview could appear at the top or bottom of the modal and refresh as the user inputs data.

This would help users to see how the fields they are inputting impact what the user will see when they are completing the form.

### Describe

[2022-07-29 17:00] samuelvl opened #376 "[Bug]: Missing x-forwarded-access-token header error is flooding logs"
### Current Behavior

Deploy dashboard and check out logs:

[code]

The following error is constantly printed:

[code]

### Expected Behavior

Do not print this error message.

[2022-07-29 17:38] andrewballantyne commented on #374
@lugi0 I take it this does not happen with JH? Might be a configuration in something JL is doing that we are not propagating when we create the Notebook in KFNBC.

[2022-07-29 17:44] andrewballantyne commented on #375
@kywalker-rh This is a request to UX

[2022-07-29 20:59] andrewballantyne commented on #376
How are we expecting this to be added? I noticed the line of code that had issues with it when I was writing in my current PR... it's expecting a bearer token to come from the client dashboard?

[2022-07-29 21:03] #353 closed

[2022-08-01 07:32] lugi0 commented on #362
Hi @atheo89, that error in the operator logs has actually been present for a few versions of RHODS now, and it should be related to this: https://issues.redhat.com/browse/RHODS-4050
I don't think that's what's causing this issue here

[2022-08-01 07:32] lugi0 commented on #374
@andrewballantyne I've never seen this kind of behaviour in JH, no

[2022-08-01 08:49] samuelvl commented on #376
@andrewballantyne The bearer token is passed from the oauth proxy to the dashboard in the `x-forwarded-access-token` header

[2022-08-01 09:16] atheo89 commented on #362
Hi @lugi0, as I see from the `JupyterHub Metrics` target which is related with the `RHODS Metrics` there are 3 IPs, these IPs coming from the three pods of the `replication controller` `jupyterhub-1`. So, I think this will not be bug for the KBFNC because we will not use this metric in the future @anishasthana and @samuelvl, please correct me if i am wrong.

Further investgation on that, indeed th

[2022-08-01 09:42] maroroman commented on #376
@lucferbux I think you worked with this area of code

[2022-08-01 09:47] lugi0 commented on #362
Indeed the metric should not scrape the JH pods anymore, but I think we still want/need a metric that exposes CPU consumption in the notebooks spawned by KFNBC?

[2022-08-01 10:44] #297 closed

[2022-08-01 12:51] anishasthana commented on #362
The metric is based directly on the running notebook server pods. This metric definition will need to be updated too. I thought that would be done as part of the jira ticket for alerts and Metrics?

The specific line we care about: https://github.com/red-hat-data-services/odh-manifests/blob/master/monitoring/base/rhods-rules.yaml#L13

[2022-08-01 13:11] atheo89 commented on #362
Excellent! Thanks @anishasthana, I will update also this records. No, we added only monitoring and alerts for the kbfnc objects on Prometheus config yaml https://github.com/red-hat-data-services/odh-deployer/pull/245/files

[2022-08-01 13:17] guimou opened #378 "[KFNBC]: Launcher can only launch Jupyter-based images"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

The logic for the launcher is at the moment purely focused on Jupyter Notebooks. It introduces many things in the Notebook definition (and then the Pods) that may not be relevant for every custom images, like some env vars, or make them simply unusable like readiness and liveness probes (beca

[2022-08-01 14:41] cfchase commented on #347
[code]

[2022-08-01 15:35] samuelvl opened #380 "[KFNBC]: HTTP request failed when creating custom notebook rolebinding"
### Current Behavior

When the user selects a custom notebook namespace (e.g. rhods-notebooks) for the first time and opens the spawner UI he gets the following error:

![image](https://user-images.githubusercontent.com/27858594/182185141-c6c10b41-69a4-466e-9de8-e0d5bd608d3d.png)

[code]

However the rolebinding is successfully created:

[code]

### Expected Behavior

No error.

### Steps To Repro

[2022-08-01 17:39] Xaenalt opened #381 "[KFNBC]: Add GPU soft anti-affinity to KFNBC"
### Feature description

Add a feature to KFNBC for notebooks that don't request a GPU to avoid them

Port of https://issues.redhat.com/browse/RHODS-3074

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-08-01 21:00] anishasthana opened #383 "[KFNBC] Add support for groups config to ODH Dashboard Config CR"
### Feature description

We need to update the ODHDashboardConfig CR to include support for groups configs and some jupyterhub-cfg flags.

In Downstream RHODS, we have a configmap with the following data section:
[code]

as well as
[code]

I would update the  CRD to look something like the following:

[code]

Similarly, we need to add support for default PVC size and  culler time.

### Describe al

[2022-08-01 22:07] anishasthana commented on #342
@andrewballantyne I think #383  supersedes this issue. The configmap in question is not used any more (we use rhods-groups-config). What we now want to do is to update the CRD to include a way to specify the groups that have access.

[2022-08-02 06:58] maroroman commented on #345
Sorry for the late answer. The default was added in JSP base don the user profile: https://github.com/opendatahub-io/jupyterhub-singleuser-profiles/blob/master/docs/sizes.md We can solve this issue by solving: https://github.com/opendatahub-io/odh-dashboard/issues/339

[2022-08-02 08:40] bdattoma commented on #342
@anishasthanat this bug report mentions `jupyterhub-default-groups-config` because it's about ODH, but it is valid for RHODS too where instead of using this CM, the `rhods-groups-config` is used.

[2022-08-02 08:48] maroroman commented on #383
FYI:
The pvcSize value will be handled by this PR: https://github.com/opendatahub-io/odh-dashboard/pull/348
The cullerTmeout is done by this PR: https://github.com/opendatahub-io/odh-dashboard/pull/269
The namespace is done by this PR: https://github.com/opendatahub-io/odh-dashboard/pull/350

[2022-08-02 10:51] maroroman commented on #354
@lugi0 Could you please verify if this issue is still present in the latest live build? There was a fix in the deployer that may have solved this.

[2022-08-02 11:10] atheo89 commented on #362
Hi @lugi0, I opened a PR that solves the issue. In order to review the metcrics of the kbfnc for example for the cpu consumption you should run  `cluster:usage:consumption:rhods-nbc:cpu:seconds:rate1h`

(The PR is under review)

[2022-08-02 12:30] samuelvl commented on #346
Increasing priority since this is a blocker for RHODS 1.15 release

[2022-08-02 14:03] andrewballantyne commented on #345
This is solvable via our current configurations using `Default` as a property of the ODH Dashboard Config -- if we want to wait until we have more configurations to allow an admin to control it, we can do that.

Unless this gets special attention, this will remain a lower priority based item.

[2022-08-02 14:05] andrewballantyne commented on #380
Race condition possibly

[2022-08-02 14:11] andrewballantyne commented on #383
Is there a reason we are moving away from the existing ConfigMaps to putting it in ODH Dashboard Config? @samuelvl @cfchase @DaoDaoNoCode

Surely there is a limit to what the ODH Dashboard Config will manage -- eg. we moved env vars out of this into their own configmaps/secrets. Are we looking to have one stop shop for all configurations?

[2022-08-02 14:18] andrewballantyne commented on #383
If we want a one-stop shop to locate things that are general configs -- I recommend we do not add the content directly to the ODH Dashboard Config -- we can add just a "what ConfigMap" to look at for more information. I'm sensing a slippery slope here for configuring the dashboard

[2022-08-02 14:18] lugi0 commented on #354
@maroroman the issue is still present. Now by default the checkbox has a checkmark, but if you try to change the settings nothing happens when clicking the button, and when you refresh the page you still get the list of notifications with the `e.response is undefined`

[2022-08-02 14:34] jkoehler-redhat commented on #346
This issue will be fixed in ODH by https://github.com/opendatahub-io/odh-dashboard/pull/243

[2022-08-02 15:05] jkoehler-redhat commented on #346
Misunderstanding on what would address this.

[2022-08-02 15:08] LaVLaS commented on #346
This is not an upstream odh-dashboard blocker because these files are not relevant for the upstream release.

[2022-08-02 15:27] anishasthana commented on #362
We should not expect the metric to work for KFNBC in the 1.15 timeline. There's a very limited budget for metrics to send, so creating a separate metric for kfnbc right now is out of the question. Modifying the old metric would also be fairly complex and not worth the time investment imo. Since kfnbc isn't officially available for customers to use, I think it's okay for us to wait till 1.16

Relev

[2022-08-02 15:32] andrewballantyne commented on #346
This is my fault causing this ticket to yo-yo haha... The solution is indeed downstream as Landon mentions. https://issues.redhat.com/browse/RHODS-4800 is the downstream ticket. I misunderstood how we were tracking things and normally everything is in ODH first, but this is an exception to that rule. @lugi0 please follow the Jira ticket for the solution/progress watching of this issue.

[2022-08-02 15:32] #346 closed

[2022-08-02 15:50] andrewballantyne opened #386 "Investigate images folder for a configurable approach to solving branding"
Currently we have branding images in the `images` folder ([link](https://github.com/opendatahub-io/odh-dashboard/tree/e4713c4b115ef094531ca8a892b5dd1969f34e6e/frontend/src/images)) -- we should look to have these configurable OUTSIDE of the ODH Dashboard repo.

Possible options:

- CDN hosting of images and used as `http` like paths -- via ENV Vars at build time
- K8s resource backing (likely conf

[2022-08-03 00:45] #341 closed

[2022-08-03 09:34] tarukumar commented on #345
are we going with same container size value for KFNBC as JH or it will differ ?

[2022-08-03 13:00] anishasthana commented on #345
It depends on what has been configured so far.  https://github.com/red-hat-data-services/odh-deployer/pull/250 is migrating old values over (including the old default) over.

[2022-08-03 13:23] cfchase opened #387 "[KFNBC]: Do not delete notebook CR when starting/stopping a notebook"
### Feature description

In order to preserve a user's previous settings so they can quickly start/stop a notebook, we should simply stop and start the notebook.  In this case, when restarting a notebook, the spawner should load all the notebook's existing settings.

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-08-03 13:32] andrewballantyne commented on #387
This will be in conjunction with making the ODH Dashboard Config more "Config" and less "What we need for the Dashboard". The growing "Config" side of the coin can be found here: https://github.com/opendatahub-io/odh-dashboard/pull/385

[2022-08-03 13:34] andrewballantyne commented on #383
https://github.com/opendatahub-io/odh-dashboard/issues/387 will address my comments above.

[2022-08-03 19:59] #273 closed

[2022-08-04 12:58] #157 closed

[2022-08-04 12:58] #351 closed

[2022-08-04 13:43] DaoDaoNoCode commented on #322
Should we get rid of the cancel button now since we will always show the navigation?

[2022-08-04 13:59] andrewballantyne commented on #318
This was addressed in #333

[2022-08-04 13:59] #318 closed

[2022-08-04 14:31] DaoDaoNoCode opened #389 "[Bug]: Empty notebookControllerState entry added"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you start with a new dashboard config CR, you will always find the CR updated with an empty entries like
[code]

### Expected Behavior

There should be only the entry with the username updated. The empty entry shouldn't be patched to the dashboard config.

### Steps To Reproduce

1. Remo

[2022-08-04 15:38] #389 closed

[2022-08-04 15:48] samuelvl commented on #387
The controller already supports this by adding an annotation to the notebook CR (it's used by the culler to stop notebooks):

[code]

See https://github.com/opendatahub-io/kubeflow/blob/master/components/notebook-controller/pkg/culler/culler.go#L40

[2022-08-04 15:49] andrewballantyne commented on #387
Hah, was in the middle of my comment to share the same information @samuelvl
https://github.com/opendatahub-io/odh-dashboard/blob/prototype/backend/src/routes/api/data-projects/index.ts#L238-L245 looks to be how we did it in the prototype for Summit.

[2022-08-04 16:12] #274 closed

[2022-08-04 17:51] DaoDaoNoCode opened #391 "[Bug]: GPU will crash the whole app"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

After #288 got merged, the app will crash if you go to the spawner page.
You will see the error message like
[code]
And the page will be soon unavailable:
<img width="1904" alt="Screen Shot 2022-08-04 at 1 45 06 PM" src="https://user-images.githubusercontent.com/37624318/182917326-826487a5-4a

[2022-08-04 17:52] andrewballantyne commented on #391
I have tested my cluster with this issue and it does not crash. Although still of high importance to fix, I'm not sure if it's a blocker -- it seems to be dependant on cluster setup

[2022-08-04 18:24] kywalker-rh commented on #301
@andrewballantyne Sorry I missed this before. I see your point. I think a simple line of text below the dropdown when its disabled to say "All GPUs are currently in use, try again later." would work for this. I'll double check the wording with Katie.
![Screen Shot 2022-08-04 at 2 22 47 PM](https://user-images.githubusercontent.com/53235442/182923155-ca466963-8d5a-4161-aeac-8e8782ad49c7.png)
.

[2022-08-04 18:48] andrewballantyne commented on #375
This was brought up at the UX meeting on Aug 4th -- UX will look into what we can do to show the details when importing.

[2022-08-04 19:47] andrewballantyne opened #394 "[Bug]: Notebook Admin Fixes"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

I spoke with Kyle about the existing features. A couple things we can do to improve the flow of the Admin view.

1. The `Start server` link should be renamed to `Start your server` for the current logged in user -- it has different functionality and should stand out more to the user
2. The na

[2022-08-04 20:02] andrewballantyne opened #396 "[Feature Request]: Sticky Form Footer"
### Feature description

In OpenShift Console we make use of a Stick Footer for the form buttons and submit errors. Speaking with UX, we should adopt this feature.

The Spawner Page currently is a good spot to start. Make a generic component that can take:
- a "page context" -- for the error alert, this is important as we want the Data Scientists to have an understanding of what went wrong without

[2022-08-04 21:05] #391 closed

[2022-08-05 07:52] erwangranger commented on #301
Just a reminder that we got into the habit of "hiding" things that we not available (GPUs, L/XL container sizes) because in **JupyterHub**, picking something that was unavailable was very painful: it would get stuck for 10 whole minutes before timing out and letting you picking something else.

The current work is target against **Kubeflow Notebook Controller**, not JupyterHub. In **KFNBC**, if yo

[2022-08-05 09:46] samuelvl opened #399 "[Feature Request]: Remove Python 2 dependency"
### Feature description

In order to improve our building process we should find a way to not require installing python 2:

https://github.com/opendatahub-io/odh-dashboard/blob/aaebc79eb2b24d7024e4e97e9b95b75e70eb764c/Dockerfile#L27

Python 2 is needed because it is a dependency of [node-gyp](https://github.com/opendatahub-io/odh-dashboard/blob/main/frontend/package-lock.json#L11757-L11783) which

[2022-08-05 12:45] lugi0 opened #400 "[Bug]: JupyterHub tile in Explore section of dashboard"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In the Explore section of the dashboard, the Jupyter tile is still called `JupyterHub`

### Expected Behavior

Should be called Jupyter

### Steps To Reproduce

_No response_

### Workaround (if any)

_No response_

### OpenShift Version

_No response_

### Openshift Version

_No response_

#

[2022-08-05 12:47] lugi0 opened #401 "[Bug]: No alternative to JupyterHub API present"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There is currently no replacement for the JupyterHub API page/endpoints for KFNBC

### Expected Behavior

There should be an equivalent API page/endpoints

### Steps To Reproduce

_No response_

### Workaround (if any)

_No response_

### OpenShift Version

_No response_

### Openshift Versio

[2022-08-05 12:49] lugi0 commented on #345
Folks, looking to get some clarity here, will the `Default` size be implemented in KFNBC or not? Should we remove it from our testing entirely?

[2022-08-05 12:51] andrewballantyne commented on #345
@lugi0 I believe there is some discussion around what is and isn't the way to do it. But it was not planned for 1.15. If it is going in it will be 1.16

[2022-08-05 13:10] lugi0 commented on #345
Yes, 1.16 is fine, just looking for a definitive answer, since some of our tests are failing because of the missing size and we need to know if it will be reimplemented or not

[2022-08-05 13:14] guimou opened #402 "[BYON]: Impossible to update custom notebook image source"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Once an image has been imported, there is no way to update its source.

When a custom image is updated in its source repo (eg quay.io), like with a new tag, there is no way to update its definition in the UI to use this new tag. Using a "latest" tag and update it in the source repo is not an

[2022-08-05 13:27] lugi0 opened #403 "[Bug]: Sometimes user gets a 403 Permission Denied after spawning a server"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

It seems that randomly, a user might get the following error message after spawning a server and trying to log in:
![selenium-screenshot-133](https://user-images.githubusercontent.com/82518733/183086455-605609e7-661d-4edd-ab86-25080daf76f2.png)
I am not sure what is causing it, since tests ru

[2022-08-05 13:30] andrewballantyne commented on #345
Fair enough. Also, apologizes for the lack of improvement in testing for KFNBC... We'll start focusing on what we need to do next week now that the bulk of features are in KFNBC we can start architecting the right solution for automation moving forward.

[2022-08-05 13:34] andrewballantyne commented on #301
It'll never be a problem to show or hide an element for the UI. Disabling an element that can never be enabled by the user is a personal gripe of mine. But in the case of GPUs, technically we can fetch a new state mid viewage of the SpawnerPage and get a different result then when they started up the page. So it can sorta auto-correct from disabled to enabled. So in this case hiding it would be th

[2022-08-05 15:04] lugi0 commented on #303
@andrewballantyne I think this also applies to the case in which the user actually spawned the server.
It is the case for the Tensorflow image at the very least.

[2022-08-05 15:10] andrewballantyne commented on #303
Sorry, you're saying you are starting a server and NOT getting your selection remembered @lugi0 ? Because that'd be a bug -- it should remember what you selected on start server button

[2022-08-05 15:14] lugi0 commented on #303
Actually, I'm seeing inconsistent behaviour. For a couple of times it didn't work, and when I clicked on `Hub Control Panel` from within the JL instance, it would get me to a `Page not found` error page in the dashboard instead of the control panel.
Now I've been trying again with other images (as well as the tensorflow image) and I don't get that Page not found error anymore, and my last selectio

[2022-08-05 15:19] andrewballantyne commented on #401
This is unlikely to be something we will do. We are talking to Kube, so there isn't an API for us to share with you. Currently we are using a note server to do this (so today we can do this) but in the near future (#259) the server will just be a pass through API and thus we will not have any API visible to external users.

[2022-08-05 15:20] andrewballantyne commented on #401
If this is a need @lugi0 we can discuss this further -- but as it stands this won't be done.

[2022-08-05 15:20] #401 closed

[2022-08-05 15:21] lugi0 commented on #345
No worries, we're all aiming for the same goal :)

[2022-08-05 15:22] andrewballantyne commented on #403
This may be difficult to debug, but our redirects should _always_ work -- may take some time to figure out the root cause

[2022-08-05 15:23] lugi0 commented on #303
Yes, I can reproduce it, when a build is ongoing the `Hub Control Panel` will redirect to a `Page Not Found` and the last selection won't be remembered
![Screenshot from 2022-08-05 17-20-13](https://user-images.githubusercontent.com/82518733/183109221-aed8c23f-c2e6-45ba-9c89-9a814f60ad93.png)
![Screenshot from 2022-08-05 17-20-56](https://user-images.githubusercontent.com/82518733/183109217-6bb33b

[2022-08-05 15:24] lugi0 commented on #303
I don't know if you want me to open a new bug for `Hub Control Panel` redirecting to `Page Not Found`, it seems like a separate issue

[2022-08-05 15:30] andrewballantyne commented on #303
@lugi0 When you get the 404, can you hold down your back browser button and get the URL to the previous page? I think we keep it in your history when we send you to 404. On Chrome that requires the "show history" and right clicking on the url and "copy link address".

The url should contain your username (translated if it had invalid k8s name characters). If your username is not in the user state

[2022-08-05 15:33] lugi0 commented on #303
I believe the URL it tries to redirect me to is:
`https://rhods-dashboard-redhat-ods-applications.apps<MY-CLUSTER>.rl7o.s1.devshift.org/notebookController/ldap-2dadmin4/home`

[2022-08-05 15:38] lugi0 commented on #303
Not sure what to look for in the odhdashboardconfig CRD, this is what I have in the status field:
[code]

[2022-08-05 15:39] andrewballantyne commented on #303
Sorry, the ODH Dashboard Config IN your dashboard namespace... the CR, not the CRD.

[2022-08-05 15:58] anishasthana commented on #345
If there was an existing `Default` config in Jupyterhub, it will be migrated over. As for new installs, I'm not actually sure.

[2022-08-05 16:00] lugi0 commented on #303
Gotcha, then this is what I have:

[code]

[2022-08-05 16:00] lugi0 commented on #303
I guess the times I got redirected to 404 are those entries without a `User` set?

[2022-08-05 16:09] andrewballantyne commented on #345
@anishasthana migrated where though? Into the ODH Dashboard Config CR? Because that doesn't exist on install

[2022-08-05 16:15] andrewballantyne commented on #303
Correct, we don't know who you are so we can't un-translate the name in the URL back to your state. This is a wonky setup today and should improve when we go to using Notebooks as a source of truth -- because your Notebook will have everything we need to associate you back to it.

[2022-08-05 16:19] anishasthana commented on #345
Ah... I'm thinking of RHODS right now. We are migrating the old global profile over into the `Notebook Sizes` field in the CR and renaming it to Default.

[2022-08-05 16:54] #394 closed

[2022-08-05 17:16] #301 closed

[2022-08-05 17:17] #368 closed

[2022-08-05 17:18] #293 closed

[2022-08-05 18:02] vconzola commented on #375
@strangiato We're in the process of redesigning the Launcher page and changing how images are selected as well as how package attributes and contents are displayed. Can we run these designs by you and get your feedback?

[2022-08-05 18:22] strangiato commented on #375
That would be great!  I sent you a message on gChat with with another person from my team that would be great to include.

[2022-08-05 20:25] vconzola commented on #375
Yep. Got it. We need to make some tweaks to the mockups. Look for an invite late next week or early the following week.

[2022-08-08 07:32] lugi0 commented on #401
I guess I only opened this bug because our aim is `to have feature parity with existing JH functionality while utilizing the KFNC backend capabilities.`, as per #213.
As long as @jedemo @jkoehler-redhat and others are ok with dropping this functionality I don't personally see a need to reimplement something equivalent

[2022-08-09 13:21] maroroman commented on #399
We can try using dart sass instead: https://sass-lang.com/dart-sass

[2022-08-09 14:25] andrewballantyne opened #407 "[Feature Request]: GPUs for Auto Scaling"
### Feature description

We need to support a GPU dropdown that detects availability of auto-scaling and present that option to the user.

Jeff noted some of his thoughts on how the GPU dropdown will work in #301 ([comment](https://github.com/opendatahub-io/odh-dashboard/issues/301#issuecomment-1192576547)).

When the user cannot get the GPU count or in fact there are zero usage on the given serve

[2022-08-09 14:46] andrewballantyne commented on #383
@anishasthana How important is it for us to mirror those names perfectly?

[code]
This is not currently what our CR looks like (even with the on-going PR). `notebookNamespace` is there, but we have `pvcSize` (instead of `defaultPersistentVolumeClaimSize`) and no `cullingTimeout` in the CR. `cullingTimeout` is stored in a ConfigMap (`notebook-controller-culler-config`).

Is it just important to kno

[2022-08-09 14:51] anishasthana commented on #383
I picked the names based on what I thought made sense as I was working on the migration script -- I'm fine with whatever names you folks like.

re: cullingTimeout, I thought the plan was for that to go in the CR as well. Could you point me at information on the culler config configmap? The migration script will need to be updated to account for it.

[2022-08-09 14:57] andrewballantyne opened #408 "[Feature Request]: Break Client Routing Into Accessible Chunks"
### Feature description

As I noted in a [comment here](https://github.com/opendatahub-io/odh-dashboard/pull/385/files#r939056083), I think we should look to break up our routing into three sections.

1. ~~Authed but not "allowed" users -- this can be used to be landing pages and resources to help people see what we do but they can't do any create/manipulation/deletion of resources~~ We have since

[2022-08-09 16:04] andrewballantyne commented on #383
@anishasthana The name of the configmap is [here](https://github.com/opendatahub-io/odh-dashboard/blob/main/backend/src/routes/api/cluster-settings/clusterSettingsUtils.ts#L8)

The uses are:
- If culling is disabled, [delete it](https://github.com/opendatahub-io/odh-dashboard/blob/main/backend/src/routes/api/cluster-settings/clusterSettingsUtils.ts#L51)
- If culling duration is updated, [patch it]

[2022-08-09 16:42] samuelvl commented on #383
@anishasthana Here you have the docs for notebook controller culling https://github.com/red-hat-data-services/odh-manifests/tree/master/odh-notebook-controller#notebook-culling

If JH culling is enabled, then create this configmap in `redhat-ods-applications` namespace:

[code]

Then, restart the notebook controller (only kf-notebook-controller) to pick the configmap values:

[code]

[2022-08-09 17:13] anishasthana commented on #383
"If culling is enabled" basically if the old configuration has a non zero value for timeout?

[2022-08-09 18:10] andrewballantyne commented on #194
I'm marking this done as this is standard procedure. @LaVLaS if you feel this still needs to cover something, feel free to reopen.

[2022-08-09 18:10] #194 closed

[2022-08-09 18:42] andrewballantyne commented on #263
As I noted in https://github.com/opendatahub-io/odh-dashboard/issues/401 -- we will not be doing this. Our net goal is to move away from this. I was unsure of full direction a month ago.

[2022-08-09 18:42] #263 closed

[2022-08-09 18:49] andrewballantyne commented on #225
This appears done. I'm going to close it -- If this is still an on-going ticket @dlabaj please reopen and add more to the description.

[2022-08-09 18:49] #225 closed

[2022-08-09 18:54] andrewballantyne commented on #193
I'm going to close this as I think #285 will be covering the fact that it's behind a feature flag.

[2022-08-09 18:54] #193 closed

[2022-08-09 19:45] andrewballantyne commented on #43
@LaVLaS I think with 1.15 this is no longer the case, right?

[2022-08-09 20:10] #21 closed

[2022-08-09 20:10] andrewballantyne commented on #21
Calling this issue stale... closing. We can reopen if the request is still desired.

[2022-08-09 20:12] andrewballantyne commented on #17
Assuming quickstarts covers this now... going to close. It is an old issue.

[2022-08-09 20:12] #17 closed

[2022-08-09 20:40] anishasthana commented on #383
Any update on the groups config stuff folks?

[2022-08-09 20:41] andrewballantyne commented on #383
As in any update on the https://github.com/opendatahub-io/odh-dashboard/pull/385? It's being reviewed. But looking almost ready to merge.

[2022-08-10 09:19] samuelvl commented on #383
@anishasthana  This is the configuration by default:

[code]

Culling is enabled if the `culler_timeout` field is **not** set to `31536000`. @maroroman Can you confirm this?

[2022-08-10 18:44] andrewballantyne opened #409 "ODH 2022 Goals"
This ticket will track some of the high level goals we have for OpenDataHub in 2022.

See the [main project board](https://github.com/orgs/opendatahub-io/projects/24) for general overview of all on-going work.

In order of priority (maybe not completion - that depends on many factors, but it should roughly go in this order).

## KubeFlow NoteBook Controller (KFNBC)

Label: `feature/notebook-contro

[2022-08-10 19:48] LaVLaS opened #410 "[Bug]: Update OCP username scrubbing to support any special character that may break DNS domain names"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When OCP usernames have special characters we will need to translate those characters to a valid character code that adheres to the Kubernetes Object name standards that require object names to meet the DNS name format.

The current [code](https://github.com/opendatahub-io/odh-dashboard/blob/

[2022-08-10 20:09] andrewballantyne commented on #410
I think we may need to go further than this @LaVLaS.

Encoding URI Components gets you to `A-Z a-z 0-9 - _ . ! ~ * ' ( )` -- k8s names only allow `contain only lowercase alphanumeric characters, '-' or '.'` and have a name limit -- which could be problematic for our generating files if somehow a user has 200 character length name (likely not a problem though lol).

- JS Encoding characters: https:

[2022-08-11 08:55] samuelvl commented on #374
Increasing priority to **high**

[2022-08-11 09:11] samuelvl commented on #402
Moved to `feature/byon` project

[2022-08-11 09:12] samuelvl commented on #400
Increasing priority to high since this is a requirement for https://github.com/opendatahub-io/odh-dashboard/issues/213

[2022-08-11 09:14] samuelvl commented on #378
Moved to `kind/enhancement ` since this is a new feature that wasn't initially planned in https://github.com/opendatahub-io/odh-dashboard/issues/213

[2022-08-11 09:18] samuelvl commented on #321
Tracked in https://github.com/opendatahub-io/s2i-lab-elyra/issues/44

[2022-08-11 09:59] maroroman commented on #383
Yes, I tried to keep backwards compatibility by taking the Default value for "disabled" culling from the jh culler

[2022-08-11 14:41] #342 closed

[2022-08-11 14:41] #383 closed

[2022-08-11 15:40] accorvin commented on #376
I'm pretty sure that this is being generated from our blackbox probes of the dashboard. When the probe sends a request to the dashboard, it's not currently sending any authentication information. I'm working on addressing this.

[2022-08-11 15:54] accorvin commented on #376
I see from this line: https://github.com/opendatahub-io/odh-dashboard/blob/main/backend/src/utils/userUtils.ts#L7 that we're looking for a header `x-forwarded-access-token`.

Looking at the OAuth proxy code, https://github.com/openshift/oauth-proxy/blob/master/README.md?plain=1#L128 it appears that the proxy will send the header (when configured to do so, which I think we currently aren't) in the

[2022-08-11 16:04] samuelvl commented on #376
We [retrieve the username](https://github.com/opendatahub-io/odh-dashboard/blob/main/backend/src/utils/userUtils.ts#L23-L45) by using the `X-Forwarded-Access-Token` so [we are already sending it](https://github.com/opendatahub-io/odh-dashboard/blob/main/manifests/overlays/authentication/deployment.yaml#L13).

You can try making the change in the code and [build an image with the changes](https://g

[2022-08-11 20:12] andrewballantyne opened #411 "[Bug]: SpawnerPage Env Vars Have Minor Issues"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When adding env vars, if you add two straight away and click "Secret" checkbox on the 2nd one, it actually checks the 1st one.

There is also a warning that we are not offering auto complete in Google Chrome's devtools. We should try to solve that at the same time

### Expected Behavior

Shou

[2022-08-15 18:20] DaoDaoNoCode opened #413 "[KFNBC]: Warn the user when the size option has had issues in the past"
[ticket reworked from disabling Notebook sizes to informing the user of potential problems]
### Feature description

Based on the discussion in #345, we should also add the ability to detect the viability of the Notebook sizes. We can warn the user when they or other users have had issues spawning a notebook size.

What I think we can do is during the starting of a notebook, look for a given event

[2022-08-15 19:54] LaVLaS commented on #286
https://github.com/openshift/release/pull/30719 was just merged.  We should have automatic builds for any commits pushed to `main` now.

@samuelvl has an example PR that we can reference to also create images based of PRs for testing

[2022-08-16 09:35] maroroman commented on #413
@DaoDaoNoCode The old jsp system was imperfect because it could only read the max capacity and max allocatable capacity of a node and not the capacity that was actually available on the cluster. So we can either copy the old implementation and disable notebook sizes only if we know they will not fit on an empty cluster or we can try gathering the information about a node's used capacity from prome

[2022-08-16 09:56] samuelvl commented on #413
@maroroman Good idea, we can explore if we get more accurate metrics from Prometheus

[2022-08-16 10:06] samuelvl commented on #286
@LaVLaS The PR to support PR images mirroring [was merged](https://github.com/openshift/release/pull/31258). All what you need in the dashboard is adding the following job to the [CI configuration](https://github.com/openshift/release/blob/master/ci-operator/config/opendatahub-io/odh-dashboard/opendatahub-io-odh-dashboard-main.yaml#L24-L42):

[code]

For example, I opened this PR https://github.co

[2022-08-16 14:22] #372 closed

[2022-08-16 15:03] samuelvl commented on #286
@LaVLaS I found an small issue when merged https://github.com/opendatahub-io/kubeflow/pull/34

PR to fix it -> https://github.com/openshift/release/pull/31377

[2022-08-16 16:22] andrewballantyne opened #416 "[KFNBC]: Migrate OdhDashboardConfig.status into Notebook."
### Feature description

We should probably move our existing config logic that is `status.notebookControllerState` in the DashboardConfig:
[code]

To annotations on the Notebook resource:
[code]
`notebooks.kubeflow.org/last-activity` is a pre-existing annotation that I think can double down as the last usage on the Notebook Controller Admin list.

It should be noted if we use the Notebook as a so

[2022-08-16 16:26] andrewballantyne commented on #416
@cfchase @samuelvl Any concerns with us adding the following annotations (with this work) to the Notebooks?

- `'notebooks.opendatahub.io/last-image-selection'` -- the last image they selected
- `'notebooks.opendatahub.io/last-size-selection'` -- the last notebook size they selected
- `'opendatahub.io/username'` -- the untranslated username behind the notebook; this is due to us mangling the usern

[2022-08-16 16:29] andrewballantyne commented on #322
This has legit uses and I ran it by Kyle. No need to remove the cancel button. When you're an admin, it takes you back to the screen (when you're impersonating someone else) and it is okay to go back to the components page when you navigate as a regular user. As you are canceling out of the form you started by launching the KFNBC.

[2022-08-16 16:29] #322 closed

[2022-08-16 16:31] andrewballantyne commented on #387
Okay, turns out our web of code is a REAL web. Pulling out this logic may prove to be a bit of a rewrite. Logged this issue here: https://github.com/opendatahub-io/odh-dashboard/issues/416

My PR #415 will just keep the Notebook around as originally requested. We'll merge our live data into the Notebook at a later date.

[2022-08-16 16:41] andrewballantyne commented on #416
This effort is on hold I think for now until we figure out the architectural structure behind this. I started a thread in the [Open Data Hub Slack](https://odh-io.slack.com/archives/C035J0KA6UB/p1660667606421129) to try and work out the particulars and edge cases.

[2022-08-16 18:28] andrewballantyne commented on #416
Verdict from Slack.

1. Use notebooks to store all the data, no other config map needed -- we should have no `status` in the ODH Dashboard Config when we are done
2. Attempt to use existing data inside the Notebook. If we can't cleanly pull that information out for previous selections for size and image, then we should look to using annotations (the ones listed in a previous comment / description

[2022-08-16 19:06] andrewballantyne commented on #328
Started a thread on the [Open Data Hub Slack](https://odh-io.slack.com/archives/C0330L52N22/p1660675448857699) -- to be determined how we approach this. It appears there is no easy way to do this today.

[2022-08-16 19:23] andrewballantyne commented on #237
I'm going to close this issue -- as far as I can tell, when my user routes to the Dashboard (from the link in OpenShift Console) I am the selected user that is kicked by our `GET /api/status` -- this means when I make API calls against that backend, these calls made to kube on my behalf is from my user and thus is my permissions.

We default to `kube:admin` if things go off the rails -- but it loo

[2022-08-16 19:23] #237 closed

[2022-08-16 19:25] andrewballantyne commented on #359
This issue is 20days old with no update. I'm going to close this issue for now. If you see it again @bdattoma, please post the logs and reopen the issue (or log a new one if you prefer).

There is nothing we can do currently with this issue.

[2022-08-16 19:25] #359 closed

[2022-08-16 19:28] andrewballantyne commented on #43
Comparing against the `main` branch of RHODS, we are not behind by that much (likely the last weeks worth of effort). I do not believe this is still an issue as we have moved away from a custom cherry pick to a standard fast forward the upstream repo.

If I am wrong on this front, feel free to reopen the ticket.

[2022-08-16 19:28] #43 closed

[2022-08-17 03:01] LaVLaS commented on #286
@samuelvl @andrewballantyne openshift-ci PR https://github.com/openshift/release/pull/31258 to add support for PR image builds

[2022-08-17 07:58] erwangranger commented on #413
Personally, I think this might be overkill, and also tries to duplicate what is Kubernetes' reason for existing.

In the past, we'd hide the higher sizes only because choosing wrong incurred a 10 minute penalty (timeout).
With KFNBC ... there should be no penalty. So if after 30 seconds you figure that pod won't ever get running, you can cancel out and choose something smaller.

Also, looking mere

[2022-08-17 08:10] erwangranger commented on #345
@kywalker-rh, @vconzola , when we did the mock up for the new Notebook Sizes UI, I believe we had discussed removing the obscure "default" and instead let the customer choose which of "S/M/L/XL" should be considered the default.

I agree this does not need to get done immediately, but I think it's more important to keep the sizes (S/M/L/XL) the same in KFNBC as what they were in JupyterHub, rather

[2022-08-17 08:38] #381 closed

[2022-08-17 11:42] jgarciao commented on #354
In RHODS 1.15.0, the _Allow collection of usage data_ setting is properly stored in the configmap odh-segment-key-config but, when setting it to false, if you go to another section of the dashboard and then come back to Settings -> Cluster settings, the checkbox has the unfamiliar check mark mentioned in the description of this issue

![usage-data-collection](https://user-images.githubusercontent.

[2022-08-17 13:15] vconzola commented on #345
@erwangranger You're correct. I did remove the "default" size from the list of sizes and added a checkbox to the "create/edit size" modal that allows an admin user to select the default size. https://marvelapp.com/prototype/i9h5357/screen/87639140 My assumption was that on the spawner page the default size would be indicated by parentheses, e.g., "Small (default)" in the list of sizes, but I guess

[2022-08-17 13:16] andrewballantyne commented on #354
@jgarciao This should be fixed by the on-going PR: https://github.com/opendatahub-io/odh-dashboard/pull/404

When it gets merged down to RHODS, you should be able to get that fix.

[2022-08-17 13:27] andrewballantyne commented on #413
@kywalker-rh @jedemo -- Thoughts on Erwan's suggestion?

[2022-08-17 13:46] andrewballantyne commented on #345
Thanks for the input @erwangranger that saves us some work as it is in motion right now.

Closing this ticket out as we do not want `Default` in KFNBC as noted in the previous comments.

[2022-08-17 13:46] #345 closed

[2022-08-17 13:48] andrewballantyne commented on #340
Hmm, no way to partially link a PR to this issue. Will spawn a new issue and keep this one for the on-going goal of refactoring that page to be more manageable.

[2022-08-17 13:50] andrewballantyne opened #418 "[Infrastructure] Migrate SpawnerPage Notebook Size Dropdown to it's own Component"
Cleanup the Notebook Size dropdown code in the SpawnerPage. (the rest of the cleanup is still tagged for #340)

This split work was done in favour of adding `Default`, but as discussed in #345, we are no longer doing that. But the refactor was good work so we'll keep that effort (which was most of it).

[2022-08-17 14:48] kywalker-rh commented on #413
I think @erwangranger's proposal makes sense. My two caveats would be we need the cancel button on the "Starting server" modal, and ideally we also have the event log, so users can determine if there really is a problem. If this proposal is implemented we should run the message by the content design team as well.

[2022-08-17 15:07] andrewballantyne commented on #413
I have reworked the ticket to be for what Erwan suggested. Moving away from the very complex "removing/disabling" of items.

This items priority will be based on what Jeff thinks and what our roadmap looks like. This sounds very "extra". More QoL for the user.

[2022-08-17 15:31] andrewballantyne commented on #189
Talked with Don -- this still needs to be done. Removing the question label and leaving it in the backlog as a low priority. It seems to be unimportant given the current roadmap. We may get to it in time.

[2022-08-17 17:45] andrewballantyne opened #419 "Add ML Pipelines AppTile"
Add ML Pipelines AppTile

Created for existing PR: https://github.com/opendatahub-io/odh-dashboard/pull/388

[2022-08-17 17:46] andrewballantyne commented on #419
cc @jkoehler-redhat

[2022-08-17 18:20] andrewballantyne opened #420 "[Feature Request]: Strengthen our OdhDashboardConfig CRD"
### Feature description

Our CRD is weak in forcing structure (almost no properties are required, including `spec` -- some nested ones are). To that extent we have to write code that assumes you can make invalid structures inside the CRD by omitting required parts and what if they chose not to add "ALL" of the options. It's a bit erroneous.

Properties I'd like to see enforced (any part of the tre

[2022-08-17 18:56] andrewballantyne opened #421 "[Bug]: If you have a bad login, Dashboard Does Weird Stuff (including showing 404 pages)"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I ran an oc login on my client before starting up the server to test something. I messed up my password. Because I was 401 not authorized, our Dashboard showed me as `admin` and I was able to see the KFNBC card but not able to do anything with it. When I clicked on it, it showed 404.

I

[2022-08-17 20:53] jedemo commented on #413
I'm ok with relaxing the logic for hiding size & GPU options with some considerations:
1. I still think it makes sense to the GPU drop down if a customer/cluster has not enabled GPUs at all (including auto scaling machine pools). In my opinion, showing the GPU drop down in these cases adds UI clutter and potentially leads to user confusion.
2. I agree with Kyle's comments about the 'cancel' button

[2022-08-18 01:14] andrewballantyne opened #422 "[Bug]: system:authenticated does not give isAllowed access"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Fix it so we can use `system:authenticated` in the settings -- right now it tries to fetch a group by that name and obv there is none.

### Expected Behavior

`system:authenticated` should work for `adminGroup` & `allowedGroup` in the ODH Dashboard Config group settings.

When set to a group

[2022-08-18 01:26] #418 closed

[2022-08-18 11:58] samuelvl commented on #420
I'm fine with #&#x2060;1  (enforce spec) and #&#x2060;3 (remove unused).

Regarding #&#x2060;3 I think we should follow kubernetes schema -> https://pkg.go.dev/golang.org/x/build/kubernetes/api#ResourceRequirements This is, any requests/limits combination is allowed (including empty limits or requests). But I agree on if `.name` is defined, `.resources` should be required too, at least with an emp

[2022-08-18 13:38] bdattoma commented on #301
sorry to go back on this closed issue, I just have a comment about the text below the dropdown when GPUs are disabled. It says `All GPUs are currently in use, try again later.` but if no GPU nodes exist in the cluster, no GPU can be actual in use. So it could be misleading for the user. @kywalker-rh what do you think? Maybe sth like `0/No GPUs are currently available` would be more generic to cove

[2022-08-18 14:55] #422 closed

[2022-08-18 18:29] jkoehler-redhat commented on #301
@bdattoma i believe this addressed the issue?  https://github.com/opendatahub-io/odh-dashboard/pull/397

[2022-08-18 18:32] andrewballantyne commented on #301
It was not @jkoehler-redhat -- Sorry, I have a todo item to reply to this. I spoke with Kyle about it, I think I implemented a partial result -- Not sure we have enough backend functionality to do what we need to do now. I need to investigate.

[2022-08-18 20:31] LaVLaS opened #425 "[Feature Request]: Add support for cusomization of notebook pod nodeAffinity in the config"
### Feature description

In #406, we added the default application of `nvidia.com/gpu` for any non-gpu nodes.  The current implementation is hardcoded for a specific deployment scenario with no support for disabling it or providing user customization.

I think a Dashboard/notebook admin should be able to to manage:
1. If/when`nodeAffinity` is applied to a pod
2. What `nodeAffinity` expression is a

[2022-08-18 20:47] andrewballantyne commented on #416
After talking with Chris, this really can't wait. the more uses that try to update the config the more likely we hit a patching issue and it goes awry. Going to need to move to Notebooks as much as we can for ODH 2.1 (RHODS 1.16)

[2022-08-18 20:52] andrewballantyne commented on #387
After talking with Chris, we sorta need this for good concurrency work for KFNBC. Relying on the Dashboard Config for any information related to on-going user-use will not work as it could run into patch conflicts.

[2022-08-19 06:26] bdattoma commented on #301
@andrewballantyne what is missing from the current partial implementation?

[2022-08-19 17:03] jkoehler-redhat commented on #419
@andrewballantyne let's sync.  All dashboard work should be coming in via issues.

[2022-08-19 19:57] andrewballantyne commented on #425
Converting this to a bug -- we shouldn't have added a feature that does not always apply. We need to be able to sub-configure this item.

cc @LaVLaS do we think this should be a UI toggle-able thing? Or can an entry in the ODH Dashbaord Config work?

I assume this is critical for 1.16? cc @jkoehler-redhat

[2022-08-19 20:02] andrewballantyne opened #427 "[Feature Request]: About Page -- Version of ODH/RHODS/Etc"
### Feature description

Currently today our UI does not say anything about what version it is. Should this be something we add?

OpenShift Console has an about modal with versions:
![Screen Shot 2022-08-19 at 4 00 18 PM](https://user-images.githubusercontent.com/8126518/185698043-c2c6b42f-e330-4841-a223-5134a658eccf.png)
![Screen Shot 2022-08-19 at 4 00 23 PM](https://user-images.githubuserconten

[2022-08-19 20:03] andrewballantyne commented on #427
cc @cfchase @LaVLaS @jkoehler-redhat @jedemo @kywalker-rh

[2022-08-19 20:17] andrewballantyne opened #428 "[Bug]: Never having GPUs Is Poorly Handled"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We have auto scaling planned for the GPU dropdown: #407
We had disable / hide dropdown for zero GPU dropdown: #301

We didn't handle the case of _no GPUs configured_. The current functionality of the GPU Dropdown is to insinuate that GPUs may be available at some point in the future -- making

[2022-08-19 20:18] andrewballantyne commented on #301
From [Jeff's comment](https://github.com/opendatahub-io/odh-dashboard/issues/301#issuecomment-1192576547).

This is an omission I made when coding this solution. Logged a bug to handle this: https://github.com/opendatahub-io/odh-dashboard/issues/428

@bdattoma Thanks for catching this.

[2022-08-20 08:41] jkoehler-redhat commented on #427
I believe there are discussions on this with move to on prem.  Will keep this in mind.

[2022-08-20 08:44] jkoehler-redhat commented on #425
@cfchase thoughts on priority?

[2022-08-20 15:54] cfchase commented on #425
It looks like non-gpu pods prefer non-gpu nodes, which seems like a reasonable default for 1.16 and I don't think there's a risk leaving it this way.  I would like to see the feature of adding affinity along with tolerations, but I don't think it's required for 1.16 and would require changes to the OdhDashboardConfig CRD and it's late for that.

[2022-08-22 09:21] #352 closed

[2022-08-22 09:30] jgarciao opened #430 "[KFNBC] Telemetry event "Notebook Server Started" not sent when spawning notebooks with kubeflow"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In RHODS 1.15, the telemetry event "Notebook Server Started" (introduced in RHODS-863) is not sent when launching notebooks. it's not working. neither when using JupyterHub or Kubeflow.  Other telemetry events are being sent properly

This is a regression, as for 1.14 this event is sent prope

[2022-08-22 09:42] #420 closed

[2022-08-22 10:37] samuelvl commented on #425
I don't think this is a bug, it is fully compatible with an environment with no GPUs:

1. GPU environment ->  Normal notebooks are scheduled on non-GPU nodes.
2. Non-GPU environment -> Normal notebooks are scheduled on any node (except masters).

I like the idea of making affinity configurable but to me this is not a bug, I understand this is similar to https://github.com/opendatahub-io/odh-dashbo

[2022-08-22 12:38] samuelvl commented on #347
@lugi0 Can you confirm if this is still an issue in RHODS 1.15?

I don't see it anymore on a fresh 1.15 installation:

![image](https://user-images.githubusercontent.com/27858594/185922781-344c808d-889f-437a-bbe1-2c0e4921dacb.png)

[code]

[2022-08-22 12:43] kpouget commented on #347
Things look good on my side (I delete the BuildConfigs to avoid wasting resources)
![image](https://user-images.githubusercontent.com/7559202/185923764-3136c8d9-2d6d-46fc-b6d7-5ac812f97978.png)

[2022-08-22 12:44] kpouget commented on #347
hum, I can pickup all the images though :#

[2022-08-22 13:06] andrewballantyne commented on #374
@lugi0 Could you provide more steps or retest to verify that this can be reproduced? I'm unsure how this happens.

[2022-08-22 13:39] lucferbux commented on #376
We've find the problem, both **liveness** and **readiness** probes are hitting the `/status` endpoint. I would suggest creating a new path only for the probes. something like `/probes`. What do you guys think? @samuelvl @accorvin @andrewballantyne

[2022-08-22 13:40] accorvin commented on #376
@lucferbux why wouldn't we just change the existing `/status` endpoint to not require auth? Is it used for other existing purposes that do require auth?

[2022-08-22 13:41] samuelvl commented on #347
Yeah me too, after the build finished I can pick them all :)

[2022-08-22 13:43] lucferbux commented on #376
@accorvin  yeah, it's used to retrieve the status of the application, and there are several features (such as getting the username) that need the auth

[2022-08-22 13:44] lucferbux commented on #376
@accorvin my main point is that we shouldn't use an endpoint with logic as a probe, it's a waste of resources, I would either move the logic away from the `/utils` endpoint to another one or just create a new path for the probes.

[2022-08-22 13:51] accorvin commented on #376
@lucferbux I think I agree with that statement for the readiness and liveness probes, but for the sake of discussion I want to raise a possible counterpoint (that is probably best illustrated using the notebook spawner page as an example):

The notebook spawner page does a lot when the user hits it (e.g. lots of queries to the cluster to get the list of images, available cluster resources, etc.) I

[2022-08-22 14:00] lucferbux opened #431 "[Conversation]: Ability to have a default notebook size"
### Feature description

As per https://issues.redhat.com/browse/RHODS-3625, we are adding the ability to configure **NB container sizes**, one of the features would be the ability to select a default notebook size (see mockup bellow).

<img width="1223" alt="Screenshot 2022-08-22 at 15 59 31" src="https://user-images.githubusercontent.com/16117276/185939353-d1d5718e-0f1c-4d0c-9f36-165fb4caf72d.pn

[2022-08-22 14:08] andrewballantyne commented on #376
Just to add here -- the `GET /status` endpoint does not do anything useful for checking if we have things configured probably for UI functionality. The best it can give is if the user is not properly configured to have access to the dashboard.

[code]
The data is pretty rudimentary. The `getUser` logic behind finding out if they are an `isAdmin` / `isAllowed` access based on group configurations i

[2022-08-22 14:09] andrewballantyne commented on #347
Am I following this correctly -- is this issue no longer present? We can always reopen this issue if we see something specific in the future. @samuelvl @kpouget

[2022-08-22 14:34] #410 closed

[2022-08-22 16:08] andrewballantyne commented on #259
Needs to be part of the data science grouping feature.

[2022-08-22 16:21] jkoehler-redhat opened #433 "DSG Requirements"
General Mocks -- https://marvelapp.com/prototype/afa716d/screen/88098906
Workspace Creation Options -- https://marvelapp.com/prototype/e0d1f41/screen/88329650

## Requirement 1

P0: Ability to view and create multiple projects from the dashboard.

Issues:

- https://github.com/opendatahub-io/odh-dashboard/issues/449
- https://github.com/opendatahub-io/odh-dashboard/issues/450
- https://github.com/

[2022-08-22 16:46] andrewballantyne commented on #376
That works for me -- the config is a good fetching point for a quick status. Better than a custom one that serves no Dashboard UI related effort.

Should be noted, that endpoint will also be moved to the client as part of the on-going pass through API work. But for now that seems good to me.

[2022-08-22 16:48] #347 closed

[2022-08-22 17:02] accorvin commented on #376
If I follow correctly, I think we're saying we should change the blackbox probe to query the /api/config endpoint of the dashboard. Is that right?

cc @atheo89

[2022-08-22 17:04] andrewballantyne commented on #431
## Our current setup.

We have one `OdhDashbardConfig` -- in the Dashboard namespace. It has a simple array of items:
[code]

We need to flag one of these as a default -- we did away with the JH's design of a custom standalone default in https://github.com/opendatahub-io/odh-dashboard/issues/345 but we still need to configure the existing ones as a default.

Currently out logic ([frontend code](ht

[2022-08-22 17:09] andrewballantyne commented on #431
cc @cfchase @erwangranger @kywalker-rh @DaoDaoNoCode @dlabaj @LaVLaS

[2022-08-22 17:15] andrewballantyne commented on #303
For the dev who codes it:

We'll likely implement this via `localStorage` & make use of the [existing hook](https://github.com/opendatahub-io/odh-dashboard/blob/e1bb39fbb385d3b701704c956280676e7ffa4d50/frontend/src/pages/notebookController/screens/server/usePreferredNotebookSize.ts) to pull that information and use it in the Spawner page

[2022-08-22 18:14] #354 closed

[2022-08-22 19:59] kywalker-rh commented on #431
@andrewballantyne I like your suggestion, but @vconzola did the design, so he has final say. I'll let Vince comment on whether we should alert an admin to add a default.

[2022-08-22 20:29] vconzola commented on #431
@andrewballantyne In talking with Jeff about this before I did the design, we concluded we always wanted Small to be the out-of-the-box default size with the option for an admin to change it to any other size. But we always want a default size. I don't completely understand your suggestion, but anything that involves text matching user input to a fixed value is not desirable, imo. Why can't we jus

[2022-08-22 21:32] andrewballantyne commented on #431
Thanks @vconzola This is helpful. Okay, so `Small` is always the unset default. 👍

@lucferbux There is probably a bit more to think on here about how we currently manage notebookSizes. We do not currently support ootb sizes, everything is in the OdhDashboardConfig. We should also make this conversation also about how we set and configure the "ootb" notebookSizes -- omission of the sizes is no size

[2022-08-23 00:09] andrewballantyne commented on #416
Won't actually change the CRD -- just will stop using it for now.

[2022-08-23 07:55] lugi0 commented on #374
@andrewballantyne I'll retest asap to confirm it's still reproducible.
As for the steps, I was running Sanity (or maybe even Smoke) and getting different UX based on where the tests were being run from (jenkins/locally/manually)

[2022-08-23 11:51] jkoehler-redhat commented on #322
I was reviewing the mocks and there is indeed a cancel button.  @lugi0 see https://marvelapp.com/prototype/90ii3fd/screen/85876386.

[2022-08-23 13:18] #376 closed

[2022-08-23 13:34] andrewballantyne commented on #374
OS & Browser settings can influence some of the options sites take in... I suspect you have a configuration difference between them. I'm on dark theme for my OS/Browser (which inherits from OS). Maybe your account on JL has configurations? I'm not sure. I do not see dark theme on my end during manual testing. This needs more investigations, including maybe giving one of us access to run Jenkins an

[2022-08-23 14:16] andrewballantyne opened #436 "Admin UI Requirements"
# Admin UI for RHODS configuration and settings

## Issues

- Admin UI for admins to configure NB container sizes
    - https://github.com/opendatahub-io/odh-dashboard/issues/1799
    - https://github.com/opendatahub-io/odh-dashboard/issues/1832
- Admin UI for mapping RHODS groups

## Description

As a RHODS admin, I need to be able to configure RHODS for use with the settings that match my organi

[2022-08-23 15:20] vconzola commented on #431
@andrewballantyne I see. I guess if two (or more) get set to default outside of the UI, your proposal of using the first one as the preselected default on the spawner page (Can we sort them by size in the UI so it's the "smallest default"?) makes sense to me. If you think it's worth it, we could also alert users in the UI that they have more than one default size set. But I doubt how valuable that

[2022-08-23 15:41] lugi0 commented on #374
keep in mind this is not just about UI, but also UX. e.g. the OP contains a (imho) substantial difference in behaviour in one of the main workflows (cloning from git).
Might not be much from a end user's perspective, but it can break automation

[2022-08-23 16:52] andrewballantyne commented on #431
@vconzola we have a great deal of flexibility to what we want to do in the UI -- but I want to make the data as comprehensible as possible too.

Let us look at a couple scenarios...
- (A) No set `Default` can be _defaulted_ to one of the following logics:
    1. First one in the list
    2. Sort the list (by ? -- limits then requests, CPU then Memory?) then take the first one in the list
- (B) Obv

[2022-08-23 16:59] andrewballantyne commented on #374
@lugi0 Perhaps I am not understanding... this is a theme problem no?

Please provide more than:

If there is a legit issue here.

As far as I can tell from your descriptions and setup, is you got into a theming situation and are seeing the inconsistency in the user's experience -- which although is useful to note, you are using multiple different browser engines... a user does not do this, not reg

[2022-08-23 17:01] andrewballantyne commented on #374
I also do not understand what automation is breaking... please provide more details in the description -- as it stands this issue is not a priority to address. I'm going to flag this ticket as a `question` as we are unsure of what needs to be addressed here -- please provide more information.

[2022-08-23 17:09] samuelvl commented on #374
Can we transfer this issue to https://github.com/red-hat-data-services/ods-ci? It's not related with the dashboard, it's related with the Chromium driver used by the ods-ci framework.

[2022-08-23 17:12] andrewballantyne commented on #374
I don't object to moving it @samuelvl but I still feel my inquiry for more information is needed -- the description of the ticket is ambiguous.

[2022-08-23 17:17] samuelvl commented on #374
I could enable dark theme in jupyterlab by doing this:

![image](https://user-images.githubusercontent.com/27858594/186223253-1c668727-0777-4906-a70c-30d8d945c083.png)

[2022-08-24 07:12] lugi0 commented on #374
@andrewballantyne the screenshots in the OP show a difference in UX when a git clone command fails: In one case -the one with the dark theme- there is a popup that needs to be dismissed by the user before anything else can be done, in the other there is a smaller warning that does not block the user from progressing in any way.
In automated test runs, we clone repositories from git multiple times

[2022-08-24 13:44] #338 closed

[2022-08-24 15:39] lucferbux opened #438 "[Bug]: Communication with segment.io is blocked by Mozilla Firefox"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When using the web browser Mozilla Firefox, the communication between Dashboard and segment.io is blocked in downstream, probably because of [Enhanced Tracking Protection mechanism](https://support.mozilla.org/en-US/kb/enhanced-tracking-protection-firefox-desktop).
It may not a issue in ODH b

[2022-08-24 15:50] DaoDaoNoCode commented on #438
This is interesting, I am wondering whether we should do a version bump to use `analytics-next` package instead of the current one because the current one is outdated and the new version has better support for React. Maybe after bumping the version and refactoring the tracking functions the problem could be solved, we will see.

[2022-08-24 15:53] DaoDaoNoCode commented on #438
Found some explanations here https://segment.com/docs/connections/sources/catalog/libraries/website/javascript/supported-browsers/#tracking-protection-itp-etp

[2022-08-24 20:04] DaoDaoNoCode opened #439 "[Bug]: KFNBC - User image selection gets reset to lastSelectedImage every few seconds"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Based on https://issues.redhat.com/browse/RHODS-4950
When using the KFNBC spawner, the selected image will get reset to the `lastSelectedImage` (or minimal if none has been spawned yet) every few seconds.
This seems to happen every time the dashboard GETs the `odh-dashboard-config` resource.

[2022-08-24 21:27] #439 closed

[2022-08-25 14:50] #411 closed

[2022-08-25 15:28] #430 closed

[2022-08-25 15:53] #336 closed

[2022-08-25 15:53] #400 closed

[2022-08-25 16:57] #192 closed

[2022-08-25 18:32] #387 closed

[2022-08-25 18:32] #416 closed

[2022-08-25 19:03] andrewballantyne commented on #380
Reprioritizing -- there may be something happening here -- but we are having a hard time reproducing it.

@samuelvl can you look to provide more information and we can get back on looking what a solution would be?

[2022-08-25 19:31] lucferbux commented on #380
okay, I didn't send the message, it was in the preview box. I've been trying to reproduce it. It doesn't appear in upstream neither in the latest build of RHODS, I've been deleting the `rhods-notebooks-image-pullers` and `odh-image-pullers` with no luck, it seems to be working fine.

[2022-08-25 19:38] andrewballantyne commented on #380
Going to close the issue -- we can reopen it if Samu can reproduce it.

[2022-08-25 19:38] #380 closed

[2022-08-25 19:54] andrewballantyne commented on #213
KFNBC requirements are tied to the 2.1 release of the Dashboard.

See the RC notes here: https://github.com/opendatahub-io/odh-dashboard/releases/tag/v2.1-rc

[2022-08-25 20:21] andrewballantyne opened #441 "[Feature Request]: As an Admin on KFNBC -- I want to view a users notebook settings"
### Feature description

When I am logged into the Dashboard as an Admin and I navigate my way to the Administration Tab of the KFNBC -- I can see notebooks running. I can even stop it if I want. But I don't get to see what the settings are behind that notebook.

Let me describe the current view of what we have in KFNBC.

This is what I get to see about MY Notebook (as an admin or not):
![Screen S

[2022-08-25 20:23] andrewballantyne commented on #441
@kywalker-rh @vconzola @jedemo

[2022-08-25 20:30] andrewballantyne opened #442 "[Bug]: Fix it so KFNBC is on by default"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

In ODH 2.1 release we are looking to have KFNBC always on by default. If we want this, we should update it so our backend does that when there is a lack of config in place. We should not override their existing settings if they want it off, but we should not default to showing JH anymore.

##

[2022-08-25 20:36] andrewballantyne opened #443 "[Bug]: Error shows when changing default PVC Size"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Discovered during testing of 2.1 ([origin](https://github.com/red-hat-data-services/odh-deployer/pull/257#issuecomment-1227294871))

### Expected Behavior

No errors should happen, partial saving of the page should be possible.

### Steps To Reproduce

### Workaround (if any)

The workaround:

[2022-08-25 20:39] andrewballantyne opened #444 "[Bug]: The UI flickers "Not Found" on startup"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When we are just loading the Dashboard for the first time (or returning from JuypterLab) the UI will flicker our `Not Found` page.

This is because we are not waiting on `isAllowed` to be properly computed. So at the brief moment the UI renders, you have no permissions yet -- any page you are

[2022-08-25 20:40] jedemo commented on #441
This makes sense to me. I can see the utility of this. Thanks for the suggestion.

[2022-08-25 20:51] andrewballantyne commented on #441
Thanks Jeff. Just need some input from UX, do we show "view" by default & hide stop under a kebab? Vice versa? Or both under a kebab? Or... crazily, both back to back in the same table column?

So many options 🙂

[2022-08-25 20:58] andrewballantyne opened #445 "[Bug]: Remove ODH Dashboard Config `.status`"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We intentionally left around the OdhDashboardConfig `.status` to avoid any issues with migration scripts and what not for 2.1.

We should look to clean that up -- we use Notebook annotations now.

### Expected Behavior

Everything still works once it is removed

### Steps To Reproduce

Delete

[2022-08-26 09:18] andrewballantyne commented on #443
The issue appears to be an initial state problem with the tolerations UI. There is no default when you first reach this page. So the data sent to the server is an omission to the `notebookTolerationSettings` property -- and then it tries to do a `.enabled` on it and it throws an `undefined` error.

[2022-08-26 09:38] jgarciao commented on #443
This bug is important for us because it prevents users to properly set their dashboard settings. More info at RHODS-3624

[2022-08-26 10:30] #443 closed

[2022-08-26 10:38] andrewballantyne commented on #408
When we do this work, we should take the loading logic in https://github.com/opendatahub-io/odh-dashboard/pull/447 and move it into its own component (with the fetching logic for user).

App structure can be something like:

[code]

[2022-08-26 10:40] andrewballantyne commented on #408
We should also consider mounting our own custom `<Route`  -- where we implement an Error Boundary component (see [React docs](https://reactjs.org/docs/error-boundaries.html)) along with permission checking. Make it nice to add new routes.

[2022-08-26 11:16] andrewballantyne commented on #286
I believe this is completed now. Closing.

[2022-08-26 11:16] #286 closed

[2022-08-26 14:43] #444 closed

[2022-08-26 15:12] lugi0 commented on #374
@andrewballantyne
This behaviour is indeed still reproducible.
If you want I can create a test case to trigger the specific difference shown in the OP (i.e., the git clone error behaviour). Then you can try running it locally on your machine, through a Jenkins job, and doing the same thing manually, so you can see what the difference between the three is.

[2022-08-26 18:49] andrewballantyne commented on #431
I don't think I mentioned it here -- but we should also talk about default notebook sizes -- in code vs in config -- maybe this is already decided.

If it is in code (aka hardcoded) then we probably need a separate mechanism to disable/hide from the user when the admin configures their own.

If we go in config we will probably want a smart way to grant them default access to them if they do not ap

[2022-08-26 18:50] andrewballantyne commented on #431
To clarify to anyone watching -- this ticket will be used to come up with a decision and we'll log a feature request to address that directly. No sense in having the conversation part of that history and confusing things.

[2022-08-28 17:18] andrewballantyne opened #449 "[DSG]: Support DSG Optionally"
### Feature description

We need to support DSG to start working on it.

- Add the nav item ("Data Science Projects" is fine for now until naming gets decided)
- Add a feature flag in the OdhDashboardConfig to hide it; default is hidden
- Add a route that is only accessibly by `isAllowed` users
    - Mount as a route, a simple no projects available page

See the designs https://marvelapp.com/proto

[2022-08-28 17:26] andrewballantyne opened #450 "[DSG]: Allow adding projects (multi support)"
### Feature description

#449 will get us routes to the page, once we are here we need to allow for multiple projects to be created.

- Support the ability to add a project ([Mocks](https://marvelapp.com/prototype/afa716d/screen/88098876))
    - And the two field modal ([Mocks](https://marvelapp.com/prototype/afa716d/screen/88098875))
    - If #449 is not completely merged by this time, simply han

[2022-08-28 17:34] andrewballantyne opened #451 "[DSG]: Support Project View"
### Feature description

We need a page that can support applying multiple actions under your project view ([mocks](https://marvelapp.com/prototype/afa716d/screen/88098881)).

- Create a view that has a breadcrumb to return to the project list page
- Add stacks multiple sections
    - "Data science workspaces"
    - "Storage"
    - "Data connections"
    - Ignore "Model serving" for now
- Make sur

[2022-08-28 18:12] #213 closed

[2022-08-28 18:24] andrewballantyne commented on #442
#431 will cover what to do about `notebookSizes`... this should probably wait for the conversation [planned for Tuesday](https://github.com/opendatahub-io/odh-dashboard/issues/431#issuecomment-1222652337) -- if we enable them without notebookSizes that's a pretty poor experience.

[2022-08-28 18:40] andrewballantyne opened #452 "[Bug]: When JL Loses its Pods -- Restart link takes you to a white screen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

We have an issue with our routing on the dashboard -- when a notebook pod goes down (culling or otherwise) and you still have a tab open to JL, it prompts you with a modal that has a restart button. If you click this restart button you get sent back to the ODH Dashboard -- however the page yo

[2022-08-29 09:38] maroroman commented on #450
@andrewballantyne Do we want to divide this into backend and frontend PRs, or should it be covered by a single PR?

[2022-08-29 13:11] DaoDaoNoCode opened #453 "[Bug]: Dashboard will crash when `notebookController` and `enabled` is not presented in dashboard config"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

the dashboard will get 500 errors when getting enabled components if
[code]
is not present.

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Workaround (if any)

_No response_

### OpenShift Infrastructure Version

_No response_

### Openshift Version

_No res

[2022-08-29 17:32] andrewballantyne opened #455 "[Bug]: When a user is not allowed access -- they still can click on the Jupyter tile"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When I do not have allowed access from `OdhDashboardConfig.spec.groupsConfig.allowedGroups`, we still see the Jupyter tile... clicking on it will get you a 404 page. This is a gap we need to correct.

Either they have permissions to access it or not. We shouldn't dangle it and then tell them

[2022-08-29 17:48] #445 closed

[2022-08-29 18:23] andrewballantyne commented on #450
I suspect not -- https://github.com/opendatahub-io/odh-dashboard/issues/259 should look to eliminate the need for backend work to manage this.

[2022-08-29 18:25] #453 closed

[2022-08-29 18:56] andrewballantyne commented on #455
Updating wording a bit as I await really what UX wants to do.

Hiding the tile seemed obv at first but if we do that, it might feel like a bad configuration. We may want to disable the tile. But I also inquired from UX if we should just go with 403 pages backing things. It's the OpenShift Console way, but it feels like wool over the eyes. I favour a more direct route of just flat out telling them

[2022-08-29 20:14] andrewballantyne commented on #321
This looks like an issue with the image? The 2nd last line of the log is not something the Dashboard can fix I don't think.

We pass the image off and it failed to startup.

Would we even consider this a Dashboard issue? @samuelvl

[2022-08-29 20:21] andrewballantyne commented on #268
By using milestones and aiming to release (tag) the code on Fridays will allow us to keep a cadence going. If large feature development happens during the week and nothing is ready to be merged into Main by Friday, then we could skip that week's release.

---

## The plan

Release if the following criteria are met (to be refined further).

The ODH Dashboard's `main` branch...

1. has meaningful co

[2022-08-29 20:21] #268 closed

[2022-08-29 21:32] #452 closed

[2022-08-30 04:15] andrewballantyne opened #458 "Address Groups Admin Technical Debt"
During the final days of development of ODH 2.1 we merged in a not ideal set of code with the intent to come back to update it. There are a few things we can do to improve the maintenance of this code so it fits in with the rest of the codebase, this ticket will layout those issues with some information on why and how. If you wish to talk more @lucferbux I'd be happy to sit down and discuss each i

[2022-08-30 16:12] lucferbux opened #461 "[Feature Request]: Move CONTRIBUTING file to root"
### Feature description

Right now, the CONTRIBUTING file is under `/docs` path. We should move that file into the root just to follow the standard structure of documenting a project. This might be a subtask of #195

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-08-30 16:32] andrewballantyne commented on #431
Meeting occurred. Results:

- We are dropping a configurable default and going with the first item in the list. If this is undesirable flexibility to admin users, then we can look at a customized default
- We'll need some UX changes to the mock in the description, this can wait for a bit as we are not ready for that work just yet
- ODH Dashboard will apply a default in-code so that we can have som

[2022-08-30 16:32] #431 closed

[2022-08-30 17:23] kywalker-rh commented on #455
It's my understanding that if a user lacks privileges to access Jupyter, it means they aren't added to the group with access to ODH in OpenShift. In this case it makes the most sense to show a 403 page when they try to access the dashboard rather than waiting for them to access Jupyter.

This should simplify user's access when we add the DSG functionality also.

[2022-08-30 17:30] lucferbux opened #463 "[Bug]: Dashboard pod logs do not report some expected errors when they happen"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

There are 3 conditions where the dashboard pods used to report errors:

1. Admin group does not exist (i.e., failed to retrieve group .. , might not exist)
2. Admin group set to "system:authenticated" (i.e., it is not allowed to set system:authenticated as admin group")
2. Dashboard Config CR

[2022-08-30 17:47] #461 closed

[2022-08-30 17:51] lucferbux opened #464 "[Bug]: Cluster Admin check doesn't get group rolebinding"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Right now, the dashboard does not check whether a user is cluster-admin by being assigned to a Group with a cluster-admin rolebinding. It's just checking the rolebinding by user.

### Expected Behavior

Dashboard should be checking all the groups a username is added and then the rolebindings

[2022-08-30 20:30] kywalker-rh commented on #441
Let's go with @andrewballantyne's first option to change "Start" to "View" when running and put Stop under a kebab. This matches typical RH UX by putting the destructive action under a kebab to prevent accidental clicks.

For the record, I have also asked Katie for thoughts on the column label. "Server status" doesn't quite fit the column at this point, so I'm proposing "Actions" instead (but that

[2022-08-30 20:43] andrewballantyne opened #466 "[UX]: Invert the buttons on the KFNBC Server page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Buttons are backwards, stop is primary and go to server is secondary.

UX agrees this is awkward. https://marvelapp.com/prototype/90ii3fd/screen/88027750

### Expected Behavior

Access to be primary.

Stop server to be secondary.

### Steps To Reproduce

Have a running notebook, view it in KF

[2022-08-30 21:37] andrewballantyne commented on #441
That works for me, if Katie feels otherwise, we can make the call to change the name. But we can go with this for now.

[2022-08-31 13:24] andrewballantyne opened #1799 "[AdminUI - UX]: Get updated "Notebook Sizes" mocks"
### Feature description

When the time is right, we need to go back to UX and get updated mocks on the Notebook Sizes table.

opendatahub-io/odh-dashboard#431 explored the use of a `default` setting -- and we decided it was no longer needed. That also needs us to look at reordering. These two things need to be added / updated in the UX mocks.

UX Mocks: https://marvelapp.com/prototype/b3ac1dj/scre

[2022-08-31 16:39] andrewballantyne opened #469 "[Conversation]: Improve Linter Settings"
We should look at improving our linter to maybe get prettier to format things to our preference.

Topics I think we can talk about (feel free to add more)

---

### Unnecessary braces `{` in a directly returned function
[code]

---

### Braces around straight returns

[code]

---

### Auto sort imports

Get them so all our 3rd party libs are at the top

`..` sorting so that the items further away

[2022-08-31 16:46] lucferbux commented on #469
I'm inclined to use the styles used by other RedHatters (i.e. Patternfly or OpenShift core teams). I guess @andrewballantyne is well versed in that matter, so if all these changes are inclined to reach that I'm on board.

[2022-08-31 16:51] dlabaj commented on #469
I know where those are setup in other projects i can pull them over.

[2022-08-31 17:19] #464 closed

[2022-08-31 17:33] andrewballantyne commented on #360
If we fail to get the auth for the user -- we now have a failed to properly load the dashboard state. If we can get it out as a `userError` we can just not show the Dashboard.

Something like (from https://github.com/opendatahub-io/odh-dashboard/pull/447)
![Screen Shot 2022-08-26 at 6 29 13 AM](https://user-images.githubusercontent.com/8126518/187742561-fec347f2-cb27-4778-a92c-9686410cb08e.png)

[2022-08-31 18:41] andrewballantyne opened #470 "[Bug]: Pods that request a GPU have the `nvidia.com/gpu.present` affinity set"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

Ported from downstream: https://issues.redhat.com/browse/RHODS-5072

Pods that request a GPU (and are scheduled on a gpu node) still have the nvidia.com/gpu.present affinity set even though they shouldn't.

[code]

On a pod without GPUs:
[code]

The scheduling appears to work correctly either

[2022-08-31 18:43] andrewballantyne commented on #470
@maroroman I decided against automatically assigning this to you. Please grab it at your earliest convenience -- but someone else can work on it in the meantime if needed.

[2022-09-01 11:49] samuelvl commented on #321
No, this is a issue with the elyra image. We opened https://github.com/opendatahub-io/s2i-lab-elyra/issues/44 to track it. Closing.

[2022-09-01 11:49] #321 closed

[2022-09-01 14:02] #466 closed

[2022-09-01 14:06] maroroman commented on #470
Okay after some help from Samu we have found out that the issue lies in the fact that we are patching the notebook. With the current patch strategy if there is an affinity present after requesting a non-gpu notebook and we request a gpu notebook the empty object does not replace the affinity and it is left in the notebook (but the toleration is added). I think the best course of action will be to

[2022-09-01 14:08] andrewballantyne commented on #470
Ah, thanks. I figured I might shoot myself in the foot when I wrote the patch logic -- I was just piggybacking on existing threads of code. Shows me for not just doing the right thing and trying to save some effort. Apologizes for this.

[2022-09-01 15:38] DaoDaoNoCode opened #473 "[deps]: Bump PF to Release 2022.12"
### Feature description

According to the PF team, we decide to upgrade the PF packages on a regular basis (~ every 3 weeks)
Here are the latest versions of PF packages we should bump.
[code]

### Describe alternatives you've considered

_No response_

### Anything else?

_No response_

[2022-09-01 15:51] #442 closed

[2022-09-01 15:53] DaoDaoNoCode commented on #473
I will do this after the meetup next Tuesday (9/6)

[2022-09-01 16:06] andrewballantyne commented on #449
Heh...

Obv not? haha...

[2022-09-01 16:06] #449 closed

[2022-09-01 16:43] andrewballantyne opened #474 "[Bug]: Failing to create Role during Notebook Creation Causes "Hidden" Failures"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

When you have a Notebook, and you delete that Notebook (for whatever reason) and then try to create another one -- you get into a very unhappy situation.

The following happens
- It cannot create your role -- so it breaks the thread, and does not add the notebook url
- It logs an error on the

[2022-09-01 18:22] lucferbux commented on #458
- [ ] Avoid PF CSS Overrides -> **No completed**, I've **reduced CSS to the minimum**, but Cards have a different style than the one provided by UX, and is adding more complexity (layout-wise) to the form, and the padding is not formatted.

- [X] Reuse Render Blocks -> Done, now there's a new component based in the Groups form.

- [X] Form & Fields ---> Done, changed the state to be controlled by

[2022-09-02 04:46] #441 closed

[2022-09-02 08:42] andrewballantyne opened #478 "[Bug]: Concurrent Users - First Login; 409 Conflict"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Current Behavior

During testing, QE ran multiple concurrent users against the Dashboard. In a few situations, two users would visit the KFNBC page at the same time before we have validated the `notebookNamespace`.

Both users get back a state of the RoleBinding for the namespace and it would be not created at

[2022-09-02 09:23] andrewballantyne commented on #281
We need to focus on where failures happen. It is likely in kube calls, so we want to grab `e.response.body` to get the error and return that to the client.

[2022-09-02 12:34] #428 closed

[2022-09-02 15:17] andrewballantyne opened #479 "[DSG]: Fix On-Cluster K8s Pass Through"
During testing of my PR #279 there was an issue on-cluster. The user would get 403 forbidden errors because the oauth x-forwarded token would not have enough permissions to grant the needed access to the user's permissions.

When you're using it locally, it works fine because you are logged in as your user and skipping past the oauth containers.

Samu explained an approach [here](https://github.co

[2022-09-02 15:34] #474 closed

[2022-09-02 16:49] andrewballantyne opened #480 "[DSG]: Misc Issues"
We have a few misc issues on the DSG feature branch -- cleaning those up before updating the branch.

See the PR for the misc changes.

[2022-09-02 19:50] panbalag opened #482 "New Jupyter notebook create stuck in server requested state"
Creating a new jupyter notebook server stuck in server requested state. Please see screenshot below

![image](https://user-images.githubusercontent.com/16919509/188226275-6d022ead-ab19-40b6-b80b-8382aa624a3b.png)

**Manifests installed**

**odh-dashboard w/ notebook controller**
https://github.com/opendatahub-io/odh-dashboard/blob/main/manifests/kfdef/odh-dashboard-kfnbc-test.yaml
**KF pipelines**

[2022-09-04 18:29] andrewballantyne opened #483 "[DSG]: Create Initial DSG Notebook Spawner Page"
### Feature description

Using existing elements from the current Spawner Page (leave that one alone for now).

- Launch from the create button on the list view
- Add jump to section
- Add new elements (use the annotations for these)
    - Name
    - Description
- Notebook Images reworked
    - Notebook Image radio buttons to dropdown
    - Handle version dropdown
- Notebook Sizes dropdown
- GPU D